layout
    div.container-xl
        div.row.my-3
            div.col-4.d-flex.flex-column
                div.my-auto
                    div.mx-3.card.shadow
                        div.card-header.bg-success.text-center.text-white.h6 THỂ LOẠI SẢN PHẨM
                        div.card-body.croll.h-400px
                            ul.list-group.list-group-flush
                                li.list-group-item.pointer(*ngFor = "let category of datasCatgories?.data; let i = index " , [routerLink]="['/list-product',category.idType]" , data-toggle="collapse", [attr.data-target]="'#id'+i") {{ category.typeName }}  
            div.col-8
                div#carouselExampleControls.h-100.carousel.slide.shadow(data-ride="carousel")
                    div.carousel-inner
                        div.carousel-item.active
                            img(src="/assets/img/banner1.jpg" ,class=" h-500px w-100  object-fit  ", alt="...")
                        div.carousel-item
                            img(src="/assets/img/banner2.jpg" ,class=" h-500px w-100  object-fit  ", alt="...")
                        div.carousel-item
                            img(src="/assets/img/banner3.jpg" ,class=" h-500px w-100  object-fit  ", alt="...")
                    a.carousel-control-prev( href="#carouselExampleControls", role="button", data-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.sr-only Previous
                    a.carousel-control-next( href="#carouselExampleControls" role="button" data-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.sr-only
    div.container-xl.border-top.position-relative.my-5
        div.position-absolute.top-50.w-100
            div.d-flex
                span.mx-auto.text-success.bg-white.px-3.py-2.border.h4.text-uppercase Cửa hàng
    div.container-xl
        product-list.row( [products] = "datasProduct?.content" )
        
        div.h-500px( *ngIf="loading")
            div.d-flex.h-100
                div.m-auto.spinner-border 
        div.d-flex.p-2.bg-light.mt-3
            nav.my-auto.mx-auto(aria-label="...")
                ul.pagination.pagination-sm.my-0
                    li.page-item.pointer(aria-current="page", *ngFor="let i of datasProduct?.totalPages" , [ngClass]="pageNumber===i ? 'active' : ''", (click)="getProducts(i)")
                        span.page-link {{i}}
    


