<layout
    ><div class="container-xl">
        <div class="row my-3">
            <div class="col-4 d-flex flex-column">
                <div class="my-auto">
                    <div class="mx-3 card shadow">
                        <div class="card-header bg-success text-center text-white h6">THỂ LOẠI SẢN PHẨM</div>
                        <div class="card-body croll h-400px">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item pointer" *ngFor="let category of datasCatgories?.data; let i = index " [routerLink]="['/list-product',category.idType]" data-toggle="collapse" [attr.data-target]="'#id'+i">{{ category.typeName }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="h-100 carousel slide shadow" id="carouselExampleControls" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active"><img class="h-500px w-100 object-fit" src="/assets/img/banner1.jpg" alt="..." /></div>
                        <div class="carousel-item"><img class="h-500px w-100 object-fit" src="/assets/img/banner2.jpg" alt="..." /></div>
                        <div class="carousel-item"><img class="h-500px w-100 object-fit" src="/assets/img/banner3.jpg" alt="..." /></div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a
                    ><a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl border-top position-relative my-5">
        <div class="position-absolute top-50 w-100">
            <div class="d-flex"><span class="mx-auto text-success bg-white px-3 py-2 border h4 text-uppercase">Cửa hàng</span></div>
        </div>
    </div>
    <div class="container-xl">
        <product-list class="row" [products]="datasProduct?.content"></product-list>
        <div class="h-500px" *ngIf="loading">
            <div class="d-flex h-100"><div class="m-auto spinner-border"></div></div>
        </div>
        <div class="d-flex p-2 bg-light mt-3">
            <nav class="my-auto mx-auto" aria-label="...">
                <ul class="pagination pagination-sm my-0">
                    <li class="page-item pointer" aria-current="page" *ngFor="let i of datasProduct?.totalPages" [ngClass]="pageNumber===i ? 'active' : ''" (click)="getProducts(i)"><span class="page-link">{{i}}</span></li>
                </ul>
            </nav>
        </div>
    </div></layout
>
