<layout
    ><div class="container-xl mt-5">
        <div class="body">
            <div class="card">
                <div style="border-radius: 200px; height: 200px; width: 200px; background: #f8faf5; margin: 0 auto"><i class="checkmark">✓</i></div>
                <div>
                    <h1>Success</h1>
                    <p>Thanh toán đơn hàng thành công;<br /><span class="text-primary mx-4 pointer" routerLink="/home">Về trang chủ </span><span class="text-primary mx-4 pointer" routerLink="/profile"> Xem trạng thái đơn hàng </span></p>
                </div>
            </div>
        </div>
    </div></layout
>
