layout
    div.container-xl.mt-5
        .body
            div.card
                div(style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;")
                    i.checkmark ✓
                div
                    h1 Success
                    p Thanh toán đơn hàng thành công;
                        br 
                        span.text-primary.mx-4.pointer( routerLink="/home" ) Về trang chủ 
                        span.text-primary.mx-4.pointer( routerLink="/profile" )  Xem trạng thái đơn hàng 
            


