@import 'styles/variables.scss';
.h-500px{
    height: 500px;
}
.h-400px{
    height: 400px;
}

.filter{
    filter: brightness(0.75); 
}
.top-50{
    transform: translateY(-50%)
}

::-webkit-scrollbar{
    width: 1px;
}
.object-fit{
    object-fit: cover;
}