div.col-6.col-md-4.mt-4.px-1([ngClass]="'col-lg-'+col" ,*ngFor = "let product of products" )
    div.border.pb-4 
        img.w-100.pointer.object-fit.aspect-ratio-1-1( [routerLink] = "['/info-product', product.type?.idType,product.idProduct ]" ,[src] = "product?.productSizeList[0]?.imagePath" )
        div.d-flex.flex-column
            span.mx-auto.text-center.pointer.text-uppercase.font-weight-light.h6.my-2.text-1-line([routerLink] = "['/info-product', product.type?.idType ,product?.idProduct ]") {{ product?.productName }}
            span.mx-auto.text-center {{ product?.category?.categoryName }}
            span.mx-auto.text-center Giá từ: {{ getFrom(product?.productSizeList) | number }}VND - {{ getTo(product?.productSizeList) | number  }}VND
            span.d-flex
                //- |{{product.type.idType | json}}
                span.pointer.p-2.px-3.mx-auto.btn-success.px-2([routerLink] = "['/info-product', product.type?.idType,product?.idProduct ]") Mua ngay

            
        