<div class="col-6 col-md-4 mt-4 px-1" [ngClass]="'col-lg-'+col" *ngFor="let product of products">
    <div class="border pb-4">
        <img class="w-100 pointer object-fit aspect-ratio-1-1" [routerLink]="['/info-product', product.type?.idType,product.idProduct ]" [src]="product?.productSizeList[0]?.imagePath" />
        <div class="d-flex flex-column">
            <span class="mx-auto text-center pointer text-uppercase font-weight-light h6 my-2 text-1-line" [routerLink]="['/info-product', product.type?.idType ,product?.idProduct ]">{{ product?.productName }}</span><span class="mx-auto text-center">{{ product?.category?.categoryName }}</span><span class="mx-auto text-center">Giá từ: {{ getFrom(product?.productSizeList) | number }}VND - {{ getTo(product?.productSizeList) | number }}VND</span><span class="d-flex"><span class="pointer p-2 px-3 mx-auto btn-success px-2" [routerLink]="['/info-product', product.type?.idType,product?.idProduct ]">Mua ngay</span></span>
        </div>
    </div>
</div>
