<layout
    ><div class="container-xl mt-5">
        <div class="alert alert-success" *ngIf="alertTB.showSuccess"><span>{{ alertTB.msg }}</span></div>
        <div class="alert alert-danger" *ngIf="alertTB.showError"><span>{{ alertTB.msg }}</span></div>
        <div class="mt-5 d-flex">
            <div class="w-300px">
                <div class="d-flex"><img class="w-50 mx-auto" *ngIf="sexUser=== 0" src="/assets/img/user.png" alt="" /><img class="w-50 mx-auto" *ngIf="sexUser=== 1" src="/assets/img/user1.png" alt="" /></div>
                <div class="text-center">{{nameUser}}</div>
                <div class="mb-2 py-2 pl-2 pointer" [ngClass]="tab === 'HD'? 'bg-success text-white' : 'bg-light'" (click)="tab ='HD'">Trạng thái đơn hàng</div>
                <div class="mb-2 py-2 pl-2 pointer" [ngClass]="tab === 'PR'? 'bg-success text-white' : 'bg-light'" (click)="tab ='PR'">Thông tin cá nhân</div>
            </div>
            <div class="mx-4 border shadow w-100">
                <div class="p-3 d-flex flex-column" *ngIf="tab === 'HD'" [ngClass]=" datasOrder?.length &gt; 1 ? 'h-1300px':'h-500px'">
                    <div class="border-bottom">
                        <h4>Đơn hàng của tôi</h4>
                        <p class="text-muted">Trạng thái đơn hàng của bạn</p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item pointer border-top border-right border-left pr-0" role="presentation" *ngFor="let od of tabKD; let i = index" (click)=" selected(od)"><span class="nav-link" [ngClass]="od === (tabSelect) ? 'active bg-success text-white' : ''" data-toggle="tab" role="tab" aria-selected="true">{{ od.name }}</span></li>
                        </ul>
                    </div>
                    <div class="h-100 croll-y">
                        <div class="px-3 pt-3 my-4 py-3 bg-light" *ngFor="let od of datasOrder">
                            <div class="p-2 d-flex">
                                <div class="pr-3">Giá trị đơn: {{ od?.totalMoney | number }}VND</div>
                                <div class="border-left border-dark px-2">Trạng thái đơn: {{ od?.status }}</div>
                                <div class="ml-auto">Ngày đặt: {{ od?.createDate | date:'dd-MM-yyyy' }}</div>
                            </div>
                            <div class="p-2 d-flex border-top" *ngFor="let odt of od?.orderDetailList">
                                <img class="border pointer" [routerLink]=" ['/info-product',odt?.productSize?.product?.category?.idCategory,odt?.productSize?.product?.idProduct] " style="width: 100px; height: 100px; object-fit: cover" [src]="getImage(odt.productSize?.imagePath)" />
                                <div class="px-2 pointer" [routerLink]=" ['/info-product',odt?.productSize?.product?.category?.idCategory,odt?.productSize?.product?.idProduct] ">
                                    <h6 class="text-success text-uppercase text-1-line">{{ odt?.productName }}</h6>
                                    <div class="text-muted"><span>Phân loại: {{ odt?.productSize?.product?.type?.typeName }},{{ odt?.sizeName }},{{ odt?.colorName }} </span></div>
                                    <div>x{{odt?.quantity | number}}</div>
                                </div>
                                <div class="d-flex ml-auto"><span class="my-auto">{{ odt?.price | number}}VND</span></div>
                            </div>
                            <div class="d-flex p-2"><b class="ml-auto">Thanh toán: </b><span [ngClass]="'TRẢ SAU' == od?.statusMoney ? 'text-danger' : 'text-success' "> {{ od?.statusMoney }}</span></div>
                            <div class="p-2 border-top border-dark w-100 d-flex" *ngIf="tabSelect.id === 4"><button class="ml-auto btn-success btn" data-toggle="modal" data-target="#danhan" (click)="order = od">Đã nhận</button></div>
                            <div class="p-2 border-top border-dark w-100 d-flex" *ngIf="tabSelect.id === 1"><button class="ml-auto btn-danger btn" data-toggle="modal" data-target="#huydon" (click)="order = od">Hủy đơn</button></div>
                        </div>
                    </div>
                </div>
                <div class="h-500px p-3 d-flex flex-column" *ngIf="tab === 'PR'">
                    <div class="border-bottom">
                        <h4>Hồ sơ của tôi</h4>
                        <p class="text-muted">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
                    </div>
                    <div class="row">
                        <form class="my-auto col-8" (submit)="submitUser()" [formGroup]="formUser">
                            <div class="row my-3">
                                <div class="col-3 d-flex"><div class="ml-auto">Tên đăng nhập</div></div>
                                <div class="col-8 d-flex"><div class="mr-auto">{{ formValueUser('username') }}</div></div>
                            </div>
                            <div class="row my-3">
                                <div class="col-3 d-flex"><div class="ml-auto">Họ và tên</div></div>
                                <div class="col-8 d-flex">
                                    <div class="mr-auto"><input class="form-control" type="text" formControlName="name" [ngClass]="(errorsForm?.name?.errors ) " /><span class="text-danger" *ngIf="errorsForm?.name?.errors?.required ">Không để trống họ và tên</span><span class="text-danger" *ngIf="errorsForm?.name?.errors?.pattern ">Họ và tên không chứa kí tự và số</span></div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-3 d-flex"><div class="ml-auto">Email</div></div>
                                <div class="col-8 d-flex">
                                    <div class="mr-auto"><input class="form-control" type="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="email" [ngClass]="(errorsForm?.email?.errors ) || errorAPI === 'FAIL_USER_EMAIL' ? 'outline-danger' : ''" /><span class="text-danger" *ngIf="errorsForm?.email?.errors?.required ">Không để trống email</span><span class="text-danger" *ngIf="errorsForm?.email?.errors?.pattern ">Email chưa đúng dạng</span><span class="text-danger" *ngIf=" errorAPI === 'FAIL_USER_EMAIL'  ">Email này đã được sử dụng</span></div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-3 d-flex"><div class="ml-auto">Số điện thoại</div></div>
                                <div class="col-8 d-flex">
                                    <div class="mr-auto"><input class="form-control" type="text" formControlName="phone" [ngClass]="(errorsForm?.phone?.errors ) || errorAPI === 'FAIL_USER_PHONE' ? 'outline-danger' : ''" /><span class="text-danger" *ngIf="errorsForm?.phone?.errors?.required ">Không để trống số điện thoại</span><span class="text-danger" *ngIf="errorsForm?.phone?.errors?.pattern ">Số điện thoại chưa đúng dạng</span><span class="text-danger" *ngIf=" errorAPI === 'FAIL_USER_PHONE'  ">Số điện thoại này đã được sử dụng</span></div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-3 d-flex"><div class="ml-auto">Giới tính</div></div>
                                <div class="col-8 d-flex">
                                    <div class="mr-auto"><input class="mx-1" name="rd" (click)="this.formUser.controls.sex.setValue(0)" [attr.checked]="formValueUser('sex') === 0? 'checked':null" id="rd1" type="radio" /><label class="mr-4" for="rd1">Nam </label><input class="mx-1" name="rd" (click)="this.formUser.controls.sex.setValue(1)" [attr.checked]="formValueUser('sex') === 1? 'checked':null" id="rd2" type="radio" /><label for="rd3">Nữ </label></div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-3 d-flex"></div>
                                <div class="col-8 row">
                                    <div class="col-6 mr-auto">
                                        <button class="text-white btn btn-success" type="submit"><span class="px-2">Lưu </span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div></layout
>
<div class="modal fade" id="danhan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Nhận đơn</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body text-center"><span>Bạn muốn xác nhận đã nhận được đơn hàng ?</span></div>
            <div class="modal-footer text-center d-flex"><button class="mx-auto btn btn-primary" data-dismiss="modal">Đóng</button><button class="mx-auto btn btn-danger" data-dismiss="modal" (click)="postRequest(tabSelect.api.post,order)">Đã nhận hàng</button></div>
        </div>
    </div>
</div>
<div class="modal fade" id="huydon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Nhận đơn</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body text-center"><span>Bạn muốn hủy đơn hàng ?</span></div>
            <div class="modal-footer text-center d-flex"><button class="mx-auto btn btn-primary" data-dismiss="modal">Đóng</button><button class="mx-auto btn btn-danger" data-dismiss="modal" (click)="postRequest(tabSelect.api.delete,order)">Hủy đơn</button></div>
        </div>
    </div>
</div>
