layout
    div.container-xl.mt-5
        .body
            div.card
                div.d-flex(style="border-radius:200px; height:200px; width:200px; background:  #faf6f5; margin:0 auto;")
                    i.bi.bi-x-octagon-fill.m-auto
                div
                    h1 Erorr
                    p Thanh toán đơn hàng thất bại
                        br 
                        span.text-primary.mx-4.pointer( routerLink="/home" ) Về trang chủ 
                        span.text-primary.mx-4.pointer( routerLink="/cart" ) Về giỏ hàng
