<sb-layout-dashboard
    ><sb-dashboard-head title="Sản phẩm" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <div></div>
    <div class="alert alert-success" *ngIf="alertTB.show"><span>{{ alertTB.msg }}</span></div>
    <!--table ============================--><img [src]="img" alt="" />
    <div class="boder-top-0">
        <div class="card">
            <div class="card-header"><span class="fw-bold text-muted">Bảng sản phẩm</span></div>
            <div class="card-body">
                <div class="my-3 d-flex">
                    <label class="my-auto" for="">Tìm kiếm: </label><span><input class="form-control mx-2" #searchInput type="search" [(ngModel)]="txtSearch" (keyup.enter)="fillterProductByCate()" placeholder="Nhập từ khóa" /></span
                    ><span class="mx-3"
                        ><select class="form-control" (change)="setCategory(category)" [(ngModel)]="category">
                            <option [ngValue]="null">Tất cả</option>
                            <option *ngFor="let ctg of categoryDatas.data" [ngValue]="ctg">{{ ctg.typeName }}</option>
                        </select></span
                    >
                    <div class="ml-auto"><button class="btn btn-primary my-auto" [routerLink]="['add-product']">Thêm sản phẩm</button></div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item pointer" role="presentation"><span class="nav-link active" data-toggle="tab" role="tab" [ngClass]="tab == 1? 'bg-success text-white' : '' " (click)="search()" aria-selected="true">Sản phẩm đang bán</span></li>
                    <li class="nav-item pointer" role="presentation"><span class="nav-link" data-toggle="tab" role="tab" [ngClass]="tab == 2? 'bg-success text-white' : '' " (click)="getProductQuantity0()" aria-selected="true">Sản phẩm hết số lượng</span></li>
                    <li class="nav-item pointer" role="presentation"><span class="nav-link" data-toggle="tab" role="tab" [ngClass]="tab == 3? 'bg-success text-white' : '' " (click)="getNgungBan()" aria-selected="true">Sản phẩm ngừng bán</span></li>
                </ul>
                <div class="d-flex h-300px" *ngIf="loading"><div class="spinner-border m-auto" role="status"></div></div>
                <div *ngIf="!loading">
                    <div *ngIf="datas?.content.length &lt;= 0">
                        <div class="h-300px d-flex"><span class="m-auto h3 text-muted">Không có gì</span></div>
                    </div>
                    <table class="table table-striped" *ngIf="datas?.content.length &gt; 0">
                        <thead>
                            <tr>
                                <th style="width: 30px">STT</th>
                                <th>Sản phẩm</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of datas.content; let index = index">
                                <th>{{data.stt}}</th>
                                <td>
                                    <div class="d-flex">
                                        <img class="mr-2" [src]="data?.productSizeList[0]?.imagePath" style="width: 100px; height: 100px; object-fit: cover" />
                                        <div class="d-flex flex-column">
                                            <span class="text fw-bold"> <b> {{ data.productName }}</b></span
                                            ><span>
                                                <span class="text-muted"> <b>Thể loại: </b></span><span>{{ data?.type?.typeName }} </span></span
                                            ><span>
                                                <span class="text-muted"> <b>Ánh sáng phù hợp: </b></span><span>{{data?.lightAspect?.lightAspectName}} </span></span
                                            ><span>
                                                <span class="text-muted"> <b>Môi trường sống: </b></span><span *ngFor=" let hbt of data?.habitatsList ; let i = index "> {{ hbt.habitatsName }}{{ i === data?.habitatsList.length - 1 ? '.' : ',' }}</span></span
                                            >
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <span class="d-flex"><button class="mx-1 ml-auto bi bi-pencil-square btn btn-warning" [routerLink]="['edit-product',data.idProduct]" *ngIf="tab != 3">Sửa</button><button class="mx-1 btn btn-primary" style="width: 100px" *ngIf="tab != 3" [routerLink]="['/admin/product/info-product',data.idProduct]">Chi tiết</button><button class="mx-1 btn btn-danger my-auto pointer bi bi-trash3" data-toggle="modal" data-target="#deleteProduct" (click)="alertDeleteProduct(data)" *ngIf="tab != 3">Ngừng bán</button><button class="ml-auto btn btn-primary" *ngIf="tab == 3" [routerLink]="['edit-product','ban-lai',data.idProduct]">Bán lại</button></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer d-flex" *ngIf="datas?.content?.length &gt; 0">
                <div>Dòng {{datas?.content?.length}}/{{datas.size}}</div>
                <div class="mx-auto">Trang {{pageNumber+1}}/{{datas.totalPages}}</div>
                <nav aria-label="">
                    <ul class="pagination row">
                        <li class="page-item">
                            <span class="page-link pointer" href="#" aria-label="Previous" (click)="actionPage(prePage(inputPage,datas.totalPages),searchInput)"><span aria-hidden="true">&laquo;</span></span>
                        </li>
                        <li page-item><input class="text-center h-100 border outline-none" #inputPage (keyup.enter)="actionPage(getPage(inputPage,datas.totalPages),searchInput)" min="1" [value]="(pageNumber+1)" style="width: 40px" type="number" /></li>
                        <li class="page-item">
                            <span class="page-link pointer" href="#" aria-label="Next" (click)="actionPage(nextPage(inputPage,datas.totalPages),searchInput)"><span aria-hidden="true">&raquo; </span></span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div></sb-layout-dashboard
>
<div class="modal fade" id="deleteProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận ngừng bán</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <div class="text-center mb-3">Bạn thực sự muốn ngừng bán sản phẩm <b>{{ deleteProDuct.productName }} </b>?</div>
                <div class="d-flex"><button class="btn btn-primary mx-auto" data-dismiss="modal">Đóng</button><button class="btn btn-danger mx-auto" data-dismiss="modal" (click)="delete()">Xác nhận</button></div>
            </div>
        </div>
    </div>
</div>
