layout
    div.h-1000px.bg-img.d-flex 
        div.container-xl.my-auto
            div.h-500px.bg-white.shadow.row
                div.col-6
                    .row 
                        div.col-6.px-5.d-flex.flex-column 
                            span.bi.bi-telephone-fill.mx-auto.text-success(style="font-size:100px;")
                            span.mx-auto.text-success.h3 Hotline
                            span.mx-auto.text-center 0393 824 291 - 0898 79 44 86
                        div.col-6.d-flex.flex-column.px-5 
                            span.bi.bi-geo-alt-fill.mx-auto.text-success(style="font-size:100px;")
                            span.mx-auto.text-success.h3 Địa chỉ
                            span.mx-auto.text-center Tân Thịnh, Thành phố Thái Nguyên, Thái Nguyên 24118, Việt Nam
                        div.col-6.d-flex.flex-column.px-5 
                            span.bi.bi-envelope-at-fill.mx-auto.text-success(style="font-size:100px;")
                            span.mx-auto.text-success.h3 Email
                            span.mx-auto.text-center websendalienhoa@gmail.com
                        div.col-6.d-flex.flex-column.px-5 
                            span.bi.bi-facebook.mx-auto.text-success(style="font-size:100px;")
                            span.mx-auto.text-success.h3 Facebook 
                            span.mx-auto.text-center
                                a.text-1-line( href="https://www.facebook.com/Anhsinhvien.02/" ) https://www.facebook .com/Anhsinhvien.02/

                div.col-6 
                    .row.h-100
                        div.col-12.h-100
                            iframe.py-2.w-100.h-100(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29680.868841565247!2d105.80031375159668!3d21.581683392032257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31352724d64dbc63%3A0x3a98e4638d06192f!2zVMOibiBUaOG7i25oLCBUaMOhaSBOZ3V5w6puLCBUaGFpIE5ndXllbiwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1681298108024!5m2!1sen!2s",
                             , style="border:0;", allowfullscreen="" ,loading="lazy", 
                             referrerpolicy="no-referrer-when-downgrade")
    div.container-xl.mt-5( *ngIf="!!user?.name" )
        div.row.d-flex
            div.mx-auto.col-6
                form.border-top((submit)="onSubmit()" , [formGroup]="formGroup")
                    div 
                        h3.text-success.text-uppercase Liên hệ với chúng tôi
                        div.my-3
                            label(for="ip1") 
                                b Họ tên
                            div 
                                | {{user.name}}
                        div.my-3
                            label(for="") 
                                b Email 
                            div 
                                span {{user.email}}
                        div.my-3
                            label(for="ip3") 
                                b Tin nhắn
                            textarea#ip3.form-control( formControlName="messageUser" ,name="", cols="30", rows="5")  
                            span.text-danger( *ngIf="formGroup.controls.messageUser.errors && submited" ) Không bỏ trống tin nhắn
                    div.mt-2.d-flex 
                        span.text-success.my-auto {{ msg }}
                        button.ml-auto.px-2.btn.btn-success(type="submit") Gửi
        
            


