@import 'styles/variables.scss';
.body {
  text-align: center;
  padding: 40px 0;
  background: #EBF0F5;
}
.h-1000px{
  height: 1000px;
}
.h-500px{
  height: 500px;
}
.shadow{
  box-shadow: 10px 10px 60px rgb(255, 255, 255) !important;
}
.bg-img{
  background-image: url("/assets/img/bg.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}