// Global styling for this template

html,
body {
  height: 100%;
}

// Set spacing on containers for page symmetry

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.pointer{
  cursor: pointer;
}
.hover-danger:hover{
  color: rgba(255, 0, 0, 0.46) !important;
}
.hover-warning:hover{
  color: rgba(197, 197, 0, 0.708) !important;
}
.text-2-line {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  height: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.text-1-line {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 1;
  height: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.transition{
  transition:1s ;
}
.croll{
  overflow-y: scroll;
}
.mota-defualt{
  height: 300px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 50;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.outline-danger{
  border: 1px solid rgba(255, 0, 0, 0.75) !important;
}
.aspect-ratio-1-1{
  aspect-ratio: 1;
}
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.h-500px{
  height: 500px;
}
.outline-none{
  outline: none !important;
}
.object-fit{
  object-fit: cover;
}