<layout
    ><div class="container-xl">
        <div class="alert alert-success" *ngIf="alertTB.showSuccess"><span>{{ alertTB.msg }}</span></div>
        <div class="alert alert-danger" *ngIf="alertTB.showError"><span>{{ alertTB.msg }}</span></div>
        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <div class="carousel slide shadow" id="carouselExampleIndicators" data-interval="false">
                    <ol class="carousel-indicators">
                        <span class="mx-1 opacity-50" *ngFor="let prds of product?.productSizeList; let i = index" data-target="#carouselExampleIndicators" [id]="'idImg'+prds.idAnh" [attr.data-slide-to]="i"> <li class="active" data-target="#carouselExampleIndicators" [id]="'idImg'+prds?.idProductSize" data-slide-to="0"></li></span>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let prds of product?.productSizeList; let i = index" [ngClass]="i === 0 ? 'active' : ''"><img class="aspect-ratio-1-1 w-100 object-fit" [src]="prds?.imagePath" alt="..." /></div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">previous</span></a
                    ><a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">next </span></a>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="p-3">
                    <span class="h2 text-success text-uppercase">{{product?.productName}}</span>
                    <div class="border-bottom mb-3"></div>
                    <div class="h5 mt-3">Giá: <span *ngIf="productSize?.price &gt; -1">{{productSize?.price | number}}VND</span><span *ngIf="!!!productSize?.price  &amp;&amp; productSize?.price !== 0 ">{{getPricefromTo.min | number }} - {{ getPricefromTo.max | number }}VND</span></div>
                    <div class="mt-3"><span>Môi trường sống: </span><span *ngFor=" let hbt of product?.habitatsList ; let i = index "> {{ hbt.habitatsName }}{{ i === product?.habitatsList.length - 1 ? '.' : ',' }}</span></div>
                    <div class="mt-3"><span>Ánh sáng phù hợp: </span>{{ product?.lightAspect?.lightAspectName}}</div>
                    <div class="mb-2"></div>
                    <div class="mt-3">
                        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                            <span class="my-auto pr-2">Kích thước: </span>
                            <li class="my-2 nav-item border-0 pr-3" role="presentation" *ngFor="let size of sizes?.data;let i = index" [ngClass]="hidenSize(size) ? 'hidden' : 'pointer' "><span class="nav-link border" *ngIf="!hidenSize(size)" [ngClass]="size === (sizeChoose) ? 'bg-success text-white bi bi-check2' : ''" (click)="setSize(size)" aria-selected="true"> {{ size.sizeName }} </span><span class="nav-link border" *ngIf="hidenSize(size)" aria-selected="true"> {{ size.sizeName }} </span></li>
                        </ul>
                        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                            <span class="my-auto pr-2">Màu sắc: </span>
                            <li class="my-2 nav-item pointer border-0 pr-3" role="presentation" *ngFor="let color of colors?.data;let i = index" [ngClass]="hidenColor(color) ? 'hidden' : '' "><span class="nav-link border" *ngIf="!hidenColor(color)" (click)="setSolor(color)" [ngClass]="color === (colorChoose) ? 'bg-success text-white bi bi-check2' : ''" aria-selected="true"> {{ color.colorName }} </span><span class="nav-link border" *ngIf="hidenColor(color)" [ngClass]="color === (colorChoose) ? 'bg-success text-white bi bi-check2' : ''" aria-selected="true"> {{ color.colorName }} </span></li>
                        </ul>
                    </div>
                    <div class="mt-3 d-flex">
                        <div class="bi bi-dash border align-middle h3 mb-0" (click)="getDash(input,productSize?.quantity)"></div>
                        <input class="border quantity h5 mb-0 text-center" #input (change)="getQuantity(input,productSize?.quantity)" style="width: 60px; outline: none" min="0" value="1" type="number" />
                        <div class="bi bi-plus border align-middle h3 mb-0" (click)="getPlus(input,productSize?.quantity)"></div>
                        <span class="my-auto mx-2 text-muted">Có sẵn {{ productSize?.quantity }} </span>
                        <div class="ml-auto d-flex"><span class="pointer px-3 py-2 bi bi-cart3 btn-success h4" data-toggle="modal" data-target="#addToCart">Thêm vào giỏ</span></div>
                    </div>
                    <div class="text-danger" *ngIf="error">Vui lòng chọn kích thước và màu!</div>
                    <div class="text-danger" *ngIf="errorSL">Số lượng lớn hơn 0!</div>
                    <div class="mt-5"></div>
                </div>
            </div>
        </div>
        <div class="mb-3 mt-4 border-top pt-2">
            <div [innerHTML]="product?.moTa" [class]=" !seeMore ?  'mota-defualt' : null"></div>
            <div class="d-flex flex-column" *ngIf="!seeMore">
                <p>...</p>
                <div><button class="btn btn-outline-success" (click)="seeMore = true">XEM THÊM</button></div>
            </div>
            <div *ngIf="seeMore"><button class="btn btn-outline-success" (click)="seeMore = false">THU LẠI</button></div>
        </div>
    </div>
    <div class="border-top mt-5">
        <div class="container-xl">
            <div class="row">
                <div class="w-100 mt-2 mx-2 d-flex">
                    <div class="h3 text-success text-uppercase">Sản phẩm tương tự</div>
                    <span class="ml-auto my-auto pointer hover-text" [routerLink]="['/list-product',product?.type?.idType]">Xem thêm -></span>
                </div>
            </div>
            <!-- card --------------------------------------><product-list class="row" [products]="products?.content"></product-list>
            <div class="h-500px" *ngIf="loading">
                <div class="d-flex h-100"><div class="m-auto spinner-border"></div></div>
            </div>
        </div></div
></layout>
<div class="modal fade" id="addToCart" tabindex="1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận thêm vào giỏ</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <div class="text-center mb-3">Bạn thực sự muốn thêm sản phẩm <b>{{ product.productName }} vào giỏ</b>?</div>
                <div class="d-flex"><button class="btn btn-primary mx-auto" data-dismiss="modal">Đóng</button><button class="btn btn-danger mx-auto" data-dismiss="modal" (click)="postCart(input)">Xác nhận</button></div>
            </div>
        </div>
    </div>
</div>
