@import 'styles/variables.scss';
.h-500px{
    height: 500px;
}
.object-fit{
    object-fit: cover;
    // filter: brightness(0.75); 
}
.top-50{
    transform: translateY(-50%)
}

.opacity-50{
    opacity: 0.5;
}
.hover-img:hover{
    opacity: 1 !important;
}
.hover-text:hover{
    color: rgba(0, 0, 255, 0.687);
}
.hidden{
    opacity: 0.4;
}

// .see-more{
//     box-shadow: 0px -35px 30px  rgba(177, 177, 177, 0.384)  ;
//     margin-top: 50px;
// }