<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">&copy; DATN 2023</div>
            <div></div>
        </div>
    </div>
</footer>
