footer.py-4.bg-light.mt-auto
    .container-fluid
        .d-flex.align-items-center.justify-content-between.small
            .text-muted
                | &copy; DATN 2023
            div
                //- a(href='#') Privacy Policy &middot;
                //- a(href='#') Terms &amp; Conditions
