sb-layout-dashboard
    sb-dashboard-head(title='Người dùng', [hideBreadcrumbs]='false')
        div.d-flex
            button.btn.btn-primary.my-auto((click) = "resetForm()" ,data-toggle="modal",data-target="#addUser") Thêm {{role.name}}
        div.ml-auto.p-2.bg-light.spinner-border(loading, *ngIf = "loading")
    div.alert.alert-success( *ngIf = "alertTB.show")
        span {{ alertTB.msg }}
    div
        div.card
            div.card-header 
                | Bảng người dùng
            div.card-body
                div.my-3.d-flex
                    label.my-auto(for="") Tìm kiếm:  
                    span
                        input.form-control.mx-2(#searchInput,[(ngModel)]="txtSearch",type="search",(keyup.enter) = "search(tabSelect,role)",placeholder = "Nhập từ khóa")
                ul.nav.nav-tabs(id="myTab" ,role="tablist")
                    li.nav-item.pointer(role="presentation", *ngFor = "let role of datasRole; let i = index", (click) = "search(i,role)")
                        a.nav-link( [ngClass]="i === tabSelect ? 'active' : ''" data-toggle="tab" [href]="'#'+role.name", role="tab" ,aria-selected="true") {{role.name}}
                div( *ngIf="datasUser?.content?.length <= 0" )
                        div.h-500px.d-flex
                            span.m-auto.h3.text-muted Không có gì
                table.table.table-striped(*ngIf="datasUser?.content.length > 0")
                    thead 
                        tr 
                            th STT 
                            th Họ và tên
                            th Tên đăng nhập 
                            th Điện thoại 
                            th Emai 
                            th Giới tính
                            th Ngày tạo
                            //- th Trạng thái
                            th
                    tbody 
                        tr( *ngFor="let data of datasUser.content", )
                            th {{data.stt}}
                            td 
                                //- input.mr-2(type="checkbox")
                                span {{ data.name }}
                            td {{ data.username }}
                            td {{ data.phone }}
                            td {{ data.email }}
                            td {{ data.sex === 0 ? 'Nam' : 'Nữ' }}
                            td {{ data.createdate | date : 'dd-MM-yyyy' }}
                            //- td  Đang làm 
                            td  
                                span.d-flex
                                    i.ml-auto.mr-2.p-1.pointer.hover-warning.bi.bi-pencil-square.text-muted.h4( *ngIf="!(role.idRole === 1)", (click) = "editForm(data)",data-toggle="modal",data-target="#addUser" )
                                    i.p-1.pointer.hover-danger.bi.bi-trash3.text-muted.h4( *ngIf="!(role.idRole === 1)", (click) = "alertDeleteUser(data)" , data-toggle="modal",data-target="#deleteUser" )
            div.card-footer.d-flex( *ngIf = "datasUser?.content?.length > 0")
                div Dòng {{datasUser?.content?.length}}/{{datasUser.size}}
                div.mx-auto Trang {{pageNumber+1}}/{{datasUser.totalPages}}
                nav(aria-label="")
                    ul.pagination.row
                        li.page-item
                            span.page-link.pointer(href="#", aria-label="Previous",(click) = "actionPage(prePage(inputPage,datasUser.totalPages),searchInput)")
                                span(aria-hidden="true") &laquo;
                        li(page-item)
                            input.text-center.h-100.border.outline-none(#inputPage,(keyup.enter) = "actionPage(getPage(inputPage,datasUser.totalPages),searchInput)", min="1",[value] = "(pageNumber+1)" , style = "width : 40px",type="number")
                        li( class="page-item")
                            span.page-link.pointer( href="#" aria-label="Next", (click) = "actionPage(nextPage(inputPage,datasUser.totalPages),searchInput)" )
                                span(aria-hidden="true") &raquo;                       
<!-- Modal -->
div.modal.fade(id="addUser" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
  div.modal-dialog.modal-dialog-centered.modal-lg
    div.modal-content
        div.modal-header.py-1
            h5.modal-title( id="exampleModalLabel") {{ actionEdit ? 'Sửa' : 'Thêm'}} {{ role.name }}
            span.pointer(class="close", data-dismiss="modal", aria-label="Close", #closeModal)
                span(aria-hidden="true") &times;
        div.modal-body
            form.row([formGroup] = "formGroup",(ngSubmit) ="onSubmit(closeModal)"  )
                div.col-12.col-lg-9
                    div.row
                        div.my-2.col-12                            
                            label(for="") Họ và tên
                                span.text-danger *
                            input.form-control(type="text",formControlName = "name",[ngClass] = "(errorsForm?.name?.errors && submited) ? 'outline-danger' : ''")
                            //- span {{errorsForm?.name?.errors | json}}
                            span.text-danger( *ngIf = "errorsForm?.name?.errors?.required && submited") Không để trống họ và tên
                            span.text-danger( *ngIf = "errorsForm?.name?.errors?.pattern && submited") Họ và tên không chứa kí tự và số
                        div.my-2.col-12                            
                            label(for="") Tên đăng nhập
                                span.text-danger *
                            input.form-control(type="text",formControlName = "username", [attr.disabled]="actionEdit ? 'disabled' :null" ,[ngClass] = "(errorsForm?.username?.errors && submited) || errorAPI === 'FAIL_USER_NAME' ? 'outline-danger' : ''")
                            span.text-danger( *ngIf = "errorsForm?.username?.errors?.required && submited") Không để trống tài khoản
                            span.text-danger( *ngIf = "errorsForm?.username?.errors?.pattern && submited") Tài khoản không chứa kí tự đặc biệt
                            span.text-danger( *ngIf = "errorsForm?.username?.errors?.minlength && submited") Tài khoản chứa tối thiểu 5 kí tự
                            span.text-danger( *ngIf = "errorsForm?.username?.errors?.maxlength && submited") Tài khoản chứa tối đa 15 kí tự
                            span.text-danger( *ngIf = " errorAPI === 'FAIL_USER_NAME'  && submited") Tên đăng nhập này đã được sử dụng
                        div.my-2.col-12    
                            div(*ngIf="!!actionEdit")
                                div
                                    input.mr-2(#checkBox , [attr.checked]="checked ? 'checked':null" ,(click)="editPassword(checkBox)" ,type="checkbox",id="ipcb")
                                    label(for="ipcb") Sửa mật khẩu 
                                    //- span {{ checkBox.checked }}
                                div(*ngIf="editPass")
                                    input.form-control(type="password",placeholder="*********" ,formControlName = "password",[ngClass] = "(errorsForm?.password?.errors && submited) ? 'outline-danger' : ''")
                                    span.text-danger( *ngIf = "errorsForm?.password?.errors?.required && submited") Không để trống mật khẩu
                                    span.text-danger( *ngIf = "errorsForm?.password?.errors?.minlength && submited") Mật khẩu chứa tối thiểu 5 kí tự
                                    span.text-danger( *ngIf = "errorsForm?.password?.errors?.maxlength && submited") Mật khẩu chứa tối đa 15 kí tự
                            div(*ngIf="!actionEdit")
                                label(for="") Mật khẩu
                                    span.text-danger *
                                input.form-control(type="password",placeholder="*********" ,formControlName = "password",[ngClass] = "(errorsForm?.password?.errors && submited) ? 'outline-danger' : ''")
                                span.text-danger( *ngIf = "errorsForm?.password?.errors?.required && submited") Không để trống mật khẩu
                                span.text-danger( *ngIf = "errorsForm?.password?.errors?.minlength && submited") Mật khẩu chứa tối thiểu 5 kí tự
                                span.text-danger( *ngIf = "errorsForm?.password?.errors?.maxlength && submited") Mật khẩu chứa tối đa 15 kí tự
                        div.my-2.col-12                            
                            label(for="") Điện thoại
                                span.text-danger *
                            input.form-control(type="text", [attr.disabled]="actionEdit ? 'disabled' :null" ,formControlName = "phone",[ngClass] = "(errorsForm?.phone?.errors && submited) || errorAPI === 'FAIL_USER_PHONE' ? 'outline-danger' : ''")
                            span.text-danger( *ngIf = "errorsForm?.phone?.errors?.required && submited") Không để trống số điện thoại
                            span.text-danger( *ngIf = "errorsForm?.phone?.errors?.pattern && submited") Số điện thoại chưa đúng dạng
                            span.text-danger( *ngIf = " errorAPI === 'FAIL_USER_PHONE'  && submited") Số điện thoại này đã được sử dụng
                        div.my-2.col-12
                            label(for="") Email
                                span.text-danger *
                            input.form-control(type="email",required, [attr.disabled]="actionEdit ? 'disabled' :null" ,pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" ,formControlName = "email",[ngClass] = "(errorsForm?.email?.errors && submited) || errorAPI === 'FAIL_USER_EMAIL' ? 'outline-danger' : ''")
                            span.text-danger( *ngIf = "errorsForm?.email?.errors?.required && submited") Không để trống email
                            span.text-danger( *ngIf = "errorsForm?.email?.errors?.pattern && submited") Email chưa đúng dạng
                            span.text-danger( *ngIf = " errorAPI === 'FAIL_USER_EMAIL'  && submited") Email này đã được sử dụng
                        div.my-2.col-12( *ngIf = "roleId && roleId != 3" )
                            label(for="") Vai trò
                                span.text-danger *
                            select.form-control(formControlName = "role" ,name="") 
                                option(  *ngFor = "let role of datasRole",[ngValue] = "role" ) {{role.name}}
                div.col-5.col-lg-3
                    //- label(for="") Tệp ảnh 
                    //- input.inputfile(#inputFile,type="file",accept="image/*"  , (change) = "setFiles($event)")
                    //- div.bg-danger.d-flex.my-1(*ngIf = "alert.status")
                    //-     span.pl-2.py-2.text-white Xác nhận xóa ảnh số {{alert.index + 1}}
                    //-     span.ml-auto.d-flex
                    //-         span.my-auto
                    //-             button.btn.btn-primary((click)= "deleteImage()") Đúng
                    //-         span.my-auto 
                    //-             i.pointer.bi.bi-x.h2.text-white.my-auto.mx-1((click)= "alert.status = false")

                    //- span.row.m-0.border.mb-3
                    //-     span.aspect-ratio-3-4.col-12.p-0.position-relative( *ngIf="!!showImage")
                    //-         div.hover-delete-img.h-100
                    //-             img.border-2.w-100.h-100([src]="showImage",style="object-fit: cover;")
                    //-             span.position-absolute.w-100.h-100.bg-dark.left-0.right-0.opacity-0(style = "aspect-ratio : 1;",(click) = "alertDeleteImage(i)") 
                    //-                 span.align-items-center.text-center.w-100.h-100.aspect-ratio-1.d-flex
                    //-                     span.m-auto.d-flex.flex-column
                    //-                         i.bi.bi-x.h2.text-danger
                    //-                         span.text-white Xóa ảnh 
                    //-     div.p-0.pointer.aspect-ratio-3-4.col-12(*ngIf="!showImage")
                    //-         div.h-100( (click) = "inputFile.click()") 
                    //-             div.align-items-center.text-center.h-100.d-flex
                    //-                 span.m-auto.d-flex.flex-column
                    //-                     i.bi.bi-plus.h2.text-info
                    //-                     span.text-info Thêm ảnh
                    div.mt-3
                        label(for="") Giới tính
                            span.text-danger *
                        div 
                            input.mx-1(type="radio",[attr.checked]="true" ,name="sex",[value] = 0 , formControlName = "sex" )
                            | Nam
                            input.mx-1.ml-3(type="radio" ,name="sex",[value] = 1 ,formControlName = "sex" )
                            | Nữ
                        span.text-danger( *ngIf = "errorsForm?.sex?.errors?.required && submited") Chưa chọn giới tính
                div.d-flex.flex.col-12.my-2
                    button.btn.btn-primary.ms-auto() Lưu người dùng
div.modal.fade(id="deleteUser" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
  div.modal-dialog.modal-dialog-centered
    div.modal-content
        div.modal-header.py-1
            h5.modal-title( id="exampleModalLabel") Xác nhận xóa
            span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                span(aria-hidden="true") &times;
        div.modal-body
            div.text-center.mb-3 Bạn thực sự muốn xóa người dùng 
                b {{ deleteUser.name}} 
                |?
            div.d-flex 
                button.btn.btn-primary.mx-auto() Đóng
                button.btn.btn-danger.mx-auto(data-dismiss="modal",(click) = "delete()") Xác nhận