<sb-layout-dashboard
    ><sb-dashboard-head title="Người dùng" [hideBreadcrumbs]="false"
        ><div class="d-flex"><button class="btn btn-primary my-auto" (click)="resetForm()" data-toggle="modal" data-target="#addUser">Thêm {{role.name}}</button></div>
        <div class="ml-auto p-2 bg-light spinner-border" loading *ngIf="loading"></div
    ></sb-dashboard-head>
    <div class="alert alert-success" *ngIf="alertTB.show"><span>{{ alertTB.msg }}</span></div>
    <div>
        <div class="card">
            <div class="card-header">Bảng người dùng</div>
            <div class="card-body">
                <div class="my-3 d-flex">
                    <label class="my-auto" for="">Tìm kiếm: </label><span><input class="form-control mx-2" #searchInput [(ngModel)]="txtSearch" type="search" (keyup.enter)="search(tabSelect,role)" placeholder="Nhập từ khóa" /></span>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item pointer" role="presentation" *ngFor="let role of datasRole; let i = index" (click)="search(i,role)"><a class="nav-link" [ngClass]="i === tabSelect ? 'active' : ''" data-toggle="'#'+role.name" role="tab" aria-selected="true">{{role.name}}</a></li>
                </ul>
                <div *ngIf="datasUser?.content?.length &lt;= 0">
                    <div class="h-500px d-flex"><span class="m-auto h3 text-muted">Không có gì</span></div>
                </div>
                <table class="table table-striped" *ngIf="datasUser?.content.length &gt; 0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ và tên</th>
                            <th>Tên đăng nhập</th>
                            <th>Điện thoại</th>
                            <th>Emai</th>
                            <th>Giới tính</th>
                            <th>Ngày tạo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of datasUser.content">
                            <th>{{data.stt}}</th>
                            <td><span>{{ data.name }}</span></td>
                            <td>{{ data.username }}</td>
                            <td>{{ data.phone }}</td>
                            <td>{{ data.email }}</td>
                            <td>{{ data.sex === 0 ? 'Nam' : 'Nữ' }}</td>
                            <td>{{ data.createdate | date : 'dd-MM-yyyy' }}</td>
                            <td>
                                <span class="d-flex"><i class="ml-auto mr-2 p-1 pointer hover-warning bi bi-pencil-square text-muted h4" *ngIf="!(role.idRole === 1)" (click)="editForm(data)" data-toggle="modal" data-target="#addUser"></i><i class="p-1 pointer hover-danger bi bi-trash3 text-muted h4" *ngIf="!(role.idRole === 1)" (click)="alertDeleteUser(data)" data-toggle="modal" data-target="#deleteUser"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer d-flex" *ngIf="datasUser?.content?.length &gt; 0">
                <div>Dòng {{datasUser?.content?.length}}/{{datasUser.size}}</div>
                <div class="mx-auto">Trang {{pageNumber+1}}/{{datasUser.totalPages}}</div>
                <nav aria-label="">
                    <ul class="pagination row">
                        <li class="page-item">
                            <span class="page-link pointer" href="#" aria-label="Previous" (click)="actionPage(prePage(inputPage,datasUser.totalPages),searchInput)"><span aria-hidden="true">&laquo;</span></span>
                        </li>
                        <li page-item><input class="text-center h-100 border outline-none" #inputPage (keyup.enter)="actionPage(getPage(inputPage,datasUser.totalPages),searchInput)" min="1" [value]="(pageNumber+1)" style="width: 40px" type="number" /></li>
                        <li class="page-item">
                            <span class="page-link pointer" href="#" aria-label="Next" (click)="actionPage(nextPage(inputPage,datasUser.totalPages),searchInput)"><span aria-hidden="true">&raquo; </span></span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div></sb-layout-dashboard
><!-- Modal -->
<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">{{ actionEdit ? 'Sửa' : 'Thêm'}} {{ role.name }}</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close" #closeModal><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <form class="row" [formGroup]="formGroup" (ngSubmit)="onSubmit(closeModal)">
                    <div class="col-12 col-lg-9">
                        <div class="row">
                            <div class="my-2 col-12">
                                <label for="">Họ và tên<span class="text-danger">*</span></label
                                ><input class="form-control" type="text" formControlName="name" [ngClass]="(errorsForm?.name?.errors &amp;&amp; submited) ? 'outline-danger' : ''" /><span class="text-danger" *ngIf="errorsForm?.name?.errors?.required &amp;&amp; submited">Không để trống họ và tên</span><span class="text-danger" *ngIf="errorsForm?.name?.errors?.pattern &amp;&amp; submited">Họ và tên không chứa kí tự và số</span>
                            </div>
                            <div class="my-2 col-12">
                                <label for="">Tên đăng nhập<span class="text-danger">*</span></label
                                ><input class="form-control" type="text" formControlName="username" [attr.disabled]="actionEdit ? 'disabled' :null" [ngClass]="(errorsForm?.username?.errors &amp;&amp; submited) || errorAPI === 'FAIL_USER_NAME' ? 'outline-danger' : ''" /><span class="text-danger" *ngIf="errorsForm?.username?.errors?.required &amp;&amp; submited">Không để trống tài khoản</span><span class="text-danger" *ngIf="errorsForm?.username?.errors?.pattern &amp;&amp; submited">Tài khoản không chứa kí tự đặc biệt</span><span class="text-danger" *ngIf="errorsForm?.username?.errors?.minlength &amp;&amp; submited">Tài khoản chứa tối thiểu 5 kí tự</span><span class="text-danger" *ngIf="errorsForm?.username?.errors?.maxlength &amp;&amp; submited">Tài khoản chứa tối đa 15 kí tự</span><span class="text-danger" *ngIf=" errorAPI === 'FAIL_USER_NAME'  &amp;&amp; submited">Tên đăng nhập này đã được sử dụng</span>
                            </div>
                            <div class="my-2 col-12">
                                <div *ngIf="!!actionEdit">
                                    <div><input class="mr-2" #checkBox [attr.checked]="checked ? 'checked':null" (click)="editPassword(checkBox)" type="checkbox" id="ipcb" /><label for="ipcb">Sửa mật khẩu </label></div>
                                    <div *ngIf="editPass"><input class="form-control" type="password" placeholder="*********" formControlName="password" [ngClass]="(errorsForm?.password?.errors &amp;&amp; submited) ? 'outline-danger' : ''" /><span class="text-danger" *ngIf="errorsForm?.password?.errors?.required &amp;&amp; submited">Không để trống mật khẩu</span><span class="text-danger" *ngIf="errorsForm?.password?.errors?.minlength &amp;&amp; submited">Mật khẩu chứa tối thiểu 5 kí tự</span><span class="text-danger" *ngIf="errorsForm?.password?.errors?.maxlength &amp;&amp; submited">Mật khẩu chứa tối đa 15 kí tự</span></div>
                                </div>
                                <div *ngIf="!actionEdit">
                                    <label for="">Mật khẩu<span class="text-danger">*</span></label
                                    ><input class="form-control" type="password" placeholder="*********" formControlName="password" [ngClass]="(errorsForm?.password?.errors &amp;&amp; submited) ? 'outline-danger' : ''" /><span class="text-danger" *ngIf="errorsForm?.password?.errors?.required &amp;&amp; submited">Không để trống mật khẩu</span><span class="text-danger" *ngIf="errorsForm?.password?.errors?.minlength &amp;&amp; submited">Mật khẩu chứa tối thiểu 5 kí tự</span><span class="text-danger" *ngIf="errorsForm?.password?.errors?.maxlength &amp;&amp; submited">Mật khẩu chứa tối đa 15 kí tự</span>
                                </div>
                            </div>
                            <div class="my-2 col-12">
                                <label for="">Điện thoại<span class="text-danger">*</span></label
                                ><input class="form-control" type="text" [attr.disabled]="actionEdit ? 'disabled' :null" formControlName="phone" [ngClass]="(errorsForm?.phone?.errors &amp;&amp; submited) || errorAPI === 'FAIL_USER_PHONE' ? 'outline-danger' : ''" /><span class="text-danger" *ngIf="errorsForm?.phone?.errors?.required &amp;&amp; submited">Không để trống số điện thoại</span><span class="text-danger" *ngIf="errorsForm?.phone?.errors?.pattern &amp;&amp; submited">Số điện thoại chưa đúng dạng</span><span class="text-danger" *ngIf=" errorAPI === 'FAIL_USER_PHONE'  &amp;&amp; submited">Số điện thoại này đã được sử dụng</span>
                            </div>
                            <div class="my-2 col-12">
                                <label for="">Email<span class="text-danger">*</span></label
                                ><input class="form-control" type="email" required [attr.disabled]="actionEdit ? 'disabled' :null" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="email" [ngClass]="(errorsForm?.email?.errors &amp;&amp; submited) || errorAPI === 'FAIL_USER_EMAIL' ? 'outline-danger' : ''" /><span class="text-danger" *ngIf="errorsForm?.email?.errors?.required &amp;&amp; submited">Không để trống email</span><span class="text-danger" *ngIf="errorsForm?.email?.errors?.pattern &amp;&amp; submited">Email chưa đúng dạng</span><span class="text-danger" *ngIf=" errorAPI === 'FAIL_USER_EMAIL'  &amp;&amp; submited">Email này đã được sử dụng</span>
                            </div>
                            <div class="my-2 col-12" *ngIf="roleId &amp;&amp; roleId != 3">
                                <label for="">Vai trò<span class="text-danger">*</span></label
                                ><select class="form-control" formControlName="role" name="">
                                    <option *ngFor="let role of datasRole" [ngValue]="role">{{role.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-lg-3">
                        <div class="mt-3">
                            <label for="">Giới tính<span class="text-danger">*</span></label>
                            <div><input class="mx-1" type="radio" [attr.checked]="true" name="sex" [value]="0" formControlName="sex" />Nam<input class="mx-1 ml-3" type="radio" name="sex" [value]="1" formControlName="sex" />Nữ</div>
                            <span class="text-danger" *ngIf="errorsForm?.sex?.errors?.required &amp;&amp; submited">Chưa chọn giới tính</span>
                        </div>
                    </div>
                    <div class="d-flex flex col-12 my-2"><button class="btn btn-primary ms-auto">Lưu người dùng</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <div class="text-center mb-3">Bạn thực sự muốn xóa người dùng <b>{{ deleteUser.name}} </b>?</div>
                <div class="d-flex"><button class="btn btn-primary mx-auto">Đóng</button><button class="btn btn-danger mx-auto" data-dismiss="modal" (click)="delete()">Xác nhận</button></div>
            </div>
        </div>
    </div>
</div>
