@import 'styles/variables.scss';
th{
    border-top: none;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.aspect-ratio-3-4{
    aspect-ratio: 3/4;
}
.hover-delete-img:hover > span{
    cursor: pointer;
    opacity: 0.75;
    transition: 100ms;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.opacity-0{
    opacity: 0;
}
.outline-danger{
    border: 1px solid rgba(255, 0, 0, 0.75) !important;
}