<sb-layout-dashboard
    ><sb-dashboard-head title="Liên hệ" [hideBreadcrumbs]="false"><div class="ml-auto p-2 bg-light spinner-border" loading *ngIf="loading"></div></sb-dashboard-head>
    <div class="alert alert-success" *ngIf="alertTB.showSuccess"><span>{{ alertTB.msg }}</span></div>
    <div class="alert alert-success" *ngIf="alertTB.showError"><span>{{ alertTB.msg }}</span></div>
    <div>
        <div class="card">
            <div class="card-header">Bảng liên hệ</div>
            <div class="card-body">
                <div class="my-3 d-flex"></div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item pointer" role="presentation" *ngFor="let t of tab; let i = index" (click)="selected(t)"><a class="nav-link" [ngClass]="i === 0 ? 'active' : null" data-toggle="tab" role="tab" aria-selected="true">{{ t.name }}</a></li>
                </ul>
                <div class="h-100" *ngIf="dataContact?.length &lt; 1">
                    <div class="d-flex h-500px"><h3 class="m-auto text-muted">Không có liên hệ</h3></div>
                </div>
                <table class="table table-striped" *ngIf="dataContact?.length &gt; 0">
                    <thead>
                        <tr>
                            <th class="border-top-0">Tên khách hàng</th>
                            <th class="border-top-0">Email</th>
                            <th class="border-top-0">Số điện thoại</th>
                            <th class="border-top-0">Thời gian</th>
                            <th class="border-top-0">Trạng thái</th>
                            <th class="border-top-0"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of dataContact">
                            <td>{{ data.user?.name }}</td>
                            <td>{{ data.user?.email }}</td>
                            <td>{{ data.user?.phone }}</td>
                            <td>{{ data.createdate | date : 'HH:mm giờ, dd-MM-yyyy' }}</td>
                            <td>{{ data.status }}</td>
                            <td>
                                <span class="d-flex" *ngIf="tabSelect.id === 1 "> <span class="btn btn-primary ml-auto mr-2 p-1 pointer text-white h4" data-toggle="modal" data-target="#changeStatus" (click)="setContact(data)">Chi tiết</span></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div></sb-layout-dashboard
>
<div class="modal fade" id="changeStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết liên hệ</h5>
                <span class="pointer close" #close data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <div class="row my-3">
                    <span class="col-6">
                        Họ tên:
                        <div>{{ contact?.user?.name }}</div></span
                    ><span class="col-6">
                        Email:
                        <div>{{ contact?.user?.email }}</div></span
                    >
                </div>
                <div class="row my-3">
                    <span class="col-6">
                        Số điện thoại:
                        <div>{{ contact?.user?.phone }}</div></span
                    >
                </div>
                <div class="my-3">Lời nhắn: <textarea class="form-control" disabled name="" cols="30" rows="5"> "{{ contact?.messageUser }}"</textarea></div>
                <div class="my-3">Trả lời: <textarea class="form-control" [(ngModel)]="messageShop" name="" cols="30" rows="5"> </textarea><span class="text-danger" *ngIf="!messageShop &amp;&amp; submited">Chưa trả lời lại khách hàng!</span></div>
            </div>
            <div class="modal-footer d-flex"><button class="btn btn-primary mx-auto" (click)="postRequest(tab[tabSelect.id-1].api.post,contact,close)">Gửi</button><button class="btn btn-danger mx-auto" (click)="tuChoi(tab[tabSelect.id-1].api.delete,contact,close)">Từ chối</button></div>
        </div>
    </div>
</div>
