<div class="w-100">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs" [ngClass]="{active: breadcrumb.active}"><a *ngIf="breadcrumb.link" [routerLink]="breadcrumb.link">{{breadcrumb.text}}</a><span *ngIf="!breadcrumb.link">{{breadcrumb.text}}</span></li>
        <div class="ml-auto"><ng-content></ng-content></div>
    </ol>
</div>
