sb-layout-dashboard
    sb-dashboard-head(title='Bán hàng', [hideBreadcrumbs]='true')
   
    div.d-flex.flex-lg-row.flex-column
        span.w-100
            div.card.h-100
                div
                    div.card-header.h5.text-uppercase Đơn Hàng 
                        input(type="hidden",id="modalSPQR",data-toggle="modal" ,  data-target="#scanQR")
                div.card-body.bg-light
                    ul.nav.nav-tabs(id="myTab" ,role="tablist")
                        li.nav-item.pointer.border-top.border-right.border-left.pr-0(role="presentation", *ngFor = "let od of order; let i = index", (click) = "selectOrder = od")
                            span.nav-link( [ngClass]="od === (selectOrder) ? 'active' : ''" data-toggle="tab", role="tab" ,aria-selected="true") Hóa đơn {{od.index}}
                                span.px-1.bi.bi-x(data-toggle="modal" ,  [attr.data-target]="'#id'+i") 
                            div.modal.fade([id]="'id'+i" tabindex="1")
                                div.modal-dialog.modal-dialog-centered
                                    div.modal-content
                                        div.modal-header.py-1
                                            h5.modal-title( id="exampleModalLabel") Xóa hóa đơn
                                            span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                                                span(aria-hidden="true") &times;
                                        div.modal-body
                                            div.text-center Xác nhận xóa 
                                                b hóa đơn {{ selectOrder.index }}
                                                | ?
                                        div.modal-footer 
                                            div.d-flex 
                                                button.mx-auto.btn.btn-primary(data-dismiss="modal") Đóng
                                                button.mx-auto.btn.btn-danger(data-dismiss="modal",(click)="deleteOrder(od)") Xóa
                            
                        li.nav-item.pointer(  (click) = "addOrder()")
                            a.nav-link.bi.bi-plus() 
                    .h-500px.croll-y
                        div.h-100.d-flex.bg-white(*ngIf="selectOrder?.orderDetailsList.length < 1 ")
                            span.m-auto.h3.text-muted Chưa có sản phẩm 
                            
                        table.table.table-striped.bg-white( *ngIf="selectOrder?.orderDetailsList.length > 0 ")
                            thead
                                tr 
                                    th.border-top-0 Tên sản phẩm 
                                    th.border-top-0 Kích thước 
                                    th.border-top-0 Màu sắc
                                    th.border-top-0 Số lượng 
                                    th.border-top-0 Giá 
                            tbody
                                tr(*ngFor = "let hd of selectOrder.orderDetailsList;let i = index")
                                    td {{hd.product.productName}}
                                    td {{hd.productSize.size.sizeName}}
                                    td {{hd.productSize.color.colorName}}
                                    td 
                                        div.d-flex
                                            div.pointer.bi.bi-dash.border.align-middle.px-2.py-1.mb-0((click) = "getDash(hd,input)")
                                            input.border(#input,class="quantity mb-0 text-center",(change) ="setQuantity(hd,input,hd.productSize.quantity)",[value]="hd.quantity",style = "width: 60px;outline: none;" , min="0",value="1" ,type="number")
                                            div.pointer.bi.bi-plus.border.align-middle.px-2.py-1.mb-0((click) = "getPlus(hd,input,hd.productSize.quantity)")
                                    td {{ hd.productSize.price | number}}VND
                                    td 
                                        span.bi.bi-x-lg(data-toggle="modal" ,  [attr.data-target]="'#idx'+i",)
                                        div.modal.fade([id]="'idx'+i" tabindex="1")
                                            div.modal-dialog.modal-dialog-centered
                                                div.modal-content
                                                    div.modal-header.py-1
                                                        h5.modal-title( id="exampleModalLabel") Xóa sản phẩm
                                                        span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                                                            span(aria-hidden="true") &times;
                                                    div.modal-body
                                                        div.text-center Xác nhận xóa sản phẩm
                                                            b {{ hd.product.productName }}
                                                            | ? 
                                                    div.modal-footer 
                                                        div.d-flex.w-100
                                                            button.mx-auto.btn.btn-primary(data-dismiss="modal") Đóng
                                                            button.mx-auto.btn.btn-danger(data-dismiss="modal",(click)="deleteHDProduct(hd)") Xóa
                                
        div.w-500px
            div.card.h-100
                div.card-header.h5.text-uppercase Tính tiền 
                div.card-body.h-100.d-flex.flex-column
                    ngx-scanner-qrcode(#action="scanner",style="height:230px",(data)="onEvent($event)")
                    //- input( type="button" ,id="camera", (click)="action" )
                    div
                        //- div.d-flex
                        //-     span.mr-auto.my-2 Số lượng san phẩm 
                        //-     input.my-auto.pty-2.border-bottom(type="number")
                        div.h5.my-3
                            span.mr-auto.my-2 Tổng tiền
                            div.my-2.d-flex.w-100
                                div.border-bottom.outline-none.px-2.p-0.m-0.w-100.form-group(  type="number")  {{ toltal | number }}
                                div.border-bottom VND
                        //- div.h5
                        //-     span.mr-auto.my-2 Khuyến mại
                        //-     input.my-auto.pty-2.border-bottom(type="number")
                        div.h5.my-3
                            span.mr-auto.my-2
                                b Khách phải trả
                            div.my-2.d-flex.w-100
                                div.border-bottom.outline-none.px-2.p-0.m-0.w-100.form-group(  type="number")  {{ toltal | number }}
                                div.border-bottom VND
                        div.h5
                            span.mr-auto.my-2 Tiền khách đưa 
                            div.my-2.d-flex.w-100
                                input.border-bottom.outline-none.px-2.p-0.m-0.w-100.form-group( [(ngModel)] ="moneyKhach" ,type="number") 
                                div.border-bottom VND
                            div.text-danger( *ngIf="(moneyKhach <= 0 || moneyKhach > 100000000) && submited" ) Tiền lớn hơn 0 nhỏ hơn 100 triệu
                            div.text-danger( *ngIf="tienThua < 0 && submited" ) Tiền chưa đủ 
                        div.h5
                            span.mr-auto.my-2 Tiền thừa
                            div.my-2.d-flex.w-100
                                div.border-bottom.outline-none.px-2.p-0.m-0.w-100.form-group(  type="number")  {{ tienThua < 0 ? '0' : tienThua | number }}
                                div.border-bottom VND
                    div.mt-auto
                        button.btn.btn-success.text-uppercase.w-100.py-3.h1(,data-toggle="modal" ,  data-target="#thanhToan") Thanh toán
    div.mt-3
        div.card
            div.d-flex.col-12.card-header.bg-success
                div.my-2.ml-auto.my-lg-0.w-25.d-flex.border
                    input.input.form-control( (keyup.enter) ="searchPRS(tabSelectedCategory.index,tabSelectedCategory.cate)" , [(ngModel)] = "txtSearch" , type="search", placeholder="Search" ,aria-label="Search")
                    i.bi.bi-search.h5.my-auto.mx-2.text-white
            div.card-body.bg-success.border-top.border-white
                ul.nav.nav-tabs(id="myTab" ,role="tablist")
                    li.nav-item.border-top.border-right.border-left.pointer(role="presentation", *ngFor = "let ctg  of categoryData.data; let i = index", (click) = "search(i,ctg)")
                        span.nav-link( [ngClass]="i === tabSelectedCategory.index ? 'active' : 'text-white'" data-toggle="tab" [href]="'#'+role.name", role="tab" ,aria-selected="true") {{ctg.typeName}}
                div.bg-white.w-100.croll-x
                    div.h-1000px( *ngIf="showProduct.length < 1" )
                        div.h-100.w-100.d-flex 
                            span.m-auto Không có gì 

                    div.d-flex( [style] ="'width :'+ (showProduct.length*308)+'px'  " )
                        div.w-300px.mx-2.mt-4( *ngFor = "let product of showProduct" )
                            div.border.pb-4   
                                img.w-100.pointer.object-fit.aspect-ratio-1-1([src]="product?.imagePath" )
                                div.d-flex.flex-column
                                    span.mx-auto.text-center.text-1-line.text-uppercase.font-weight-light.h5.my-2() {{ product.product?.productName }}
                                    span.mx-auto.text-center Kích thước: {{ product.size.sizeName }}
                                    span.mx-auto.text-center Màu sắc: {{ product.color.colorName }}
                                    span.mx-auto.text-center Giá: {{ product.price | number  }}VND
                                    span.mx-auto.text-center Số lượng: {{ product.quantity | number  }} 
                                    span.d-flex
                                        span.pointer.p-2.px-3.mx-auto.btn-success.px-2( *ngIf="product.quantity >= 1",(click)="addToCart(1,product)") Thêm vào giỏ
                                        span.pointer.p-2.px-3.mx-auto.text-danger.px-2( *ngIf="product.quantity < 1" ) Hết hàng
                        div.w-300px.h-100.mx-2.mt-4( *ngIf="hiddenXemThem" )
                            div.border.py-4.d-flex.h-100
                                button.btn.m-auto.btn-primary((click)="search(tabSelectedCategory.index ,tabSelectedCategory.cate  )") Xem thêm
                        
div.modal.fade(id="thanhToan" tabindex="1")
    div.modal-dialog.modal-dialog-centered
        div.modal-content
            div.modal-header.py-1
                h5.modal-title( id="exampleModalLabel") Thanh toán
                span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                    span(aria-hidden="true") &times;
            div.modal-body
                div.text-center Xác nhận thanh toán 
                    b Hóa đơn {{ selectOrder.index }}
                    | ?
            div.modal-footer 
                div.d-flex.w-100
                    button.mx-auto.btn.btn-primary(data-dismiss="modal",) Đóng 
                    button.mx-auto.btn.btn-danger(data-dismiss="modal",(click)="thanhToan()") Xác nhận 
div.modal(id="scanQR",tabindex="1",data-backdrop="static",)
    div.modal-dialog.modal-dialog-centered
        div.modal-content
            div.modal-header.py-1
                h5.modal-title( id="exampleModalLabel") Đã thấy sản phẩm
                span.pointer(class="close", data-dismiss="modal", aria-label="Close" ,(click)="isModal = false" )
                    span(aria-hidden="true") &times;
            div.modal-body
                div.row 
                    div.col-6 
                        img.w-100.object-fit.aspect-ratio-1-1([src]="getImage(productQR?.productSize?.imagePath)", alt="")

                    div.my-2.col-6.d-flex.flex-column(*ngIf="productQR?.productSize")
                        h4.text-success {{ productQR?.productSize?.product?.productName }}
                        b Giá bán {{ productQR?.productSize?.price | number }}VND 
                        span Kích thước {{  productQR?.productSize?.size?.sizeName }}
                        span Màu {{ productQR?.productSize?.color?.colorName }}
                        span Thể loại: {{ productQR?.productSize?.product?.type?.typeName }}
                        span Số lượng: 
                            div.d-flex
                                div.pointer.bi.bi-dash.border.align-middle.px-2.py-1.mb-0((click) = "getDash(productQR,input)")
                                input.border(#input,class="quantity mb-0 text-center",(change) ="setQuantity(productQR,input,productQR.productSize.quantity)",[value]="productQR.quantity",style = "width: 60px;outline: none;" , min="0",value="1" ,type="number")
                                div.pointer.bi.bi-plus.border.align-middle.px-2.py-1.mb-0((click) = "getPlus(productQR,input,productQR.productSize.quantity)")
                        button.btn.btn-success.mt-5( (click)="addToCartByQR()" ) Thêm vào giỏ 
                        //- button.mx-auto.btn.btn-primary(data-dismiss="modal",(click)="isModal = false") Đóng 
                    //- button.mx-auto.btn.btn-danger(data-dismiss="modal") Xác nhận 
                

                                    

