@import 'styles/variables.scss';
input{
    outline: none;
    border: none;
}
.pty-2{
    height: 30px;
}
@media only screen and (max-width: 1000px) {
    .w-500px {
        width: 100% !important;
    }
  }
  @media only screen and (min-width: 1000px) {
    .w-500px {
        width: 550px !important;
    }
  }

  .h-500px{
    height: 500px;
  }
  .h-1000px{
    height: 300px;
  }
  .croll-y{
    overflow-y: scroll;
  }
  .h-300px{
    height: 330px;
  }
  .w-300px{
    width: 300px;
  }
  .croll-x{
    overflow-x: scroll;
  }