<sb-layout-dashboard
    ><sb-dashboard-head title="Bán hàng" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <div class="d-flex flex-lg-row flex-column">
        <span class="w-100"
            ><div class="card h-100">
                <div>
                    <div class="card-header h5 text-uppercase">Đơn Hàng <input type="hidden" id="modalSPQR" data-toggle="modal" data-target="#scanQR" /></div>
                </div>
                <div class="card-body bg-light">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item pointer border-top border-right border-left pr-0" role="presentation" *ngFor="let od of order; let i = index" (click)="selectOrder = od">
                            <span class="nav-link" [ngClass]="od === (selectOrder) ? 'active' : ''" data-toggle="tab" role="tab" aria-selected="true">Hóa đơn {{od.index}}<span class="px-1 bi bi-x" data-toggle="modal" [attr.data-target]="'#id'+i"> </span></span>
                            <div class="modal fade" [id]="'id'+i" tabindex="1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header py-1">
                                            <h5 class="modal-title" id="exampleModalLabel">Xóa hóa đơn</h5>
                                            <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                                        </div>
                                        <div class="modal-body">
                                            <div class="text-center">Xác nhận xóa <b>hóa đơn {{ selectOrder.index }}</b>?</div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="d-flex"><button class="mx-auto btn btn-primary" data-dismiss="modal">Đóng</button><button class="mx-auto btn btn-danger" data-dismiss="modal" (click)="deleteOrder(od)">Xóa</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item pointer" (click)="addOrder()"><a class="nav-link bi bi-plus"> </a></li>
                    </ul>
                    <div class="h-500px croll-y">
                        <div class="h-100 d-flex bg-white" *ngIf="selectOrder?.orderDetailsList.length &lt; 1 "><span class="m-auto h3 text-muted">Chưa có sản phẩm </span></div>
                        <table class="table table-striped bg-white" *ngIf="selectOrder?.orderDetailsList.length &gt; 0 ">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Tên sản phẩm</th>
                                    <th class="border-top-0">Kích thước</th>
                                    <th class="border-top-0">Màu sắc</th>
                                    <th class="border-top-0">Số lượng</th>
                                    <th class="border-top-0">Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hd of selectOrder.orderDetailsList;let i = index">
                                    <td>{{hd.product.productName}}</td>
                                    <td>{{hd.productSize.size.sizeName}}</td>
                                    <td>{{hd.productSize.color.colorName}}</td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="pointer bi bi-dash border align-middle px-2 py-1 mb-0" (click)="getDash(hd,input)"></div>
                                            <input class="border quantity mb-0 text-center" #input (change)="setQuantity(hd,input,hd.productSize.quantity)" [value]="hd.quantity" style="width: 60px; outline: none" min="0" value="1" type="number" />
                                            <div class="pointer bi bi-plus border align-middle px-2 py-1 mb-0" (click)="getPlus(hd,input,hd.productSize.quantity)"></div>
                                        </div>
                                    </td>
                                    <td>{{ hd.productSize.price | number}}VND</td>
                                    <td>
                                        <span class="bi bi-x-lg" data-toggle="modal" [attr.data-target]="'#idx'+i"></span>
                                        <div class="modal fade" [id]="'idx'+i" tabindex="1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header py-1">
                                                        <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm</h5>
                                                        <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="text-center">Xác nhận xóa sản phẩm<b>{{ hd.product.productName }}</b>?</div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="d-flex w-100"><button class="mx-auto btn btn-primary" data-dismiss="modal">Đóng</button><button class="mx-auto btn btn-danger" data-dismiss="modal" (click)="deleteHDProduct(hd)">Xóa</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div></span
        >
        <div class="w-500px">
            <div class="card h-100">
                <div class="card-header h5 text-uppercase">Tính tiền</div>
                <div class="card-body h-100 d-flex flex-column">
                    <ngx-scanner-qrcode #action="scanner" style="height: 230px" (data)="onEvent($event)"></ngx-scanner-qrcode>
                    <div>
                        <div class="h5 my-3">
                            <span class="mr-auto my-2">Tổng tiền</span>
                            <div class="my-2 d-flex w-100">
                                <div class="border-bottom outline-none px-2 p-0 m-0 w-100 form-group" type="number">{{ toltal | number }}</div>
                                <div class="border-bottom">VND</div>
                            </div>
                        </div>
                        <div class="h5 my-3">
                            <span class="mr-auto my-2"><b>Khách phải trả</b></span>
                            <div class="my-2 d-flex w-100">
                                <div class="border-bottom outline-none px-2 p-0 m-0 w-100 form-group" type="number">{{ toltal | number }}</div>
                                <div class="border-bottom">VND</div>
                            </div>
                        </div>
                        <div class="h5">
                            <span class="mr-auto my-2">Tiền khách đưa </span>
                            <div class="my-2 d-flex w-100">
                                <input class="border-bottom outline-none px-2 p-0 m-0 w-100 form-group" [(ngModel)]="moneyKhach" type="number" />
                                <div class="border-bottom">VND</div>
                            </div>
                            <div class="text-danger" *ngIf="(moneyKhach &lt;= 0 || moneyKhach &gt; 100000000) &amp;&amp; submited">Tiền lớn hơn 0 nhỏ hơn 100 triệu</div>
                            <div class="text-danger" *ngIf="tienThua &lt; 0 &amp;&amp; submited">Tiền chưa đủ</div>
                        </div>
                        <div class="h5">
                            <span class="mr-auto my-2">Tiền thừa</span>
                            <div class="my-2 d-flex w-100">
                                <div class="border-bottom outline-none px-2 p-0 m-0 w-100 form-group" type="number">{{ tienThua < 0 ? '0' : tienThua | number }}</div>
                                <div class="border-bottom">VND</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-auto"><button class="btn btn-success text-uppercase w-100 py-3 h1" data-toggle="modal" data-target="#thanhToan">Thanh toán</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="card">
            <div class="d-flex col-12 card-header bg-success">
                <div class="my-2 ml-auto my-lg-0 w-25 d-flex border"><input class="input form-control" (keyup.enter)="searchPRS(tabSelectedCategory.index,tabSelectedCategory.cate)" [(ngModel)]="txtSearch" type="search" placeholder="Search" aria-label="Search" /><i class="bi bi-search h5 my-auto mx-2 text-white"></i></div>
            </div>
            <div class="card-body bg-success border-top border-white">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item border-top border-right border-left pointer" role="presentation" *ngFor="let ctg  of categoryData.data; let i = index" (click)="search(i,ctg)"><span class="nav-link" [ngClass]="i === tabSelectedCategory.index ? 'active' : 'text-white'" data-toggle="'#'+role.name" role="tab" aria-selected="true">{{ctg.typeName}}</span></li>
                </ul>
                <div class="bg-white w-100 croll-x">
                    <div class="h-1000px" *ngIf="showProduct.length &lt; 1">
                        <div class="h-100 w-100 d-flex"><span class="m-auto">Không có gì </span></div>
                    </div>
                    <div class="d-flex" [style]="'width :'+ (showProduct.length*308)+'px'  ">
                        <div class="w-300px mx-2 mt-4" *ngFor="let product of showProduct">
                            <div class="border pb-4">
                                <img class="w-100 pointer object-fit aspect-ratio-1-1" [src]="product?.imagePath" />
                                <div class="d-flex flex-column">
                                    <span class="mx-auto text-center text-1-line text-uppercase font-weight-light h5 my-2">{{ product.product?.productName }}</span><span class="mx-auto text-center">Kích thước: {{ product.size.sizeName }}</span><span class="mx-auto text-center">Màu sắc: {{ product.color.colorName }}</span><span class="mx-auto text-center">Giá: {{ product.price | number }}VND</span><span class="mx-auto text-center">Số lượng: {{ product.quantity | number }} </span><span class="d-flex"><span class="pointer p-2 px-3 mx-auto btn-success px-2" *ngIf="product.quantity &gt;= 1" (click)="addToCart(1,product)">Thêm vào giỏ</span><span class="pointer p-2 px-3 mx-auto text-danger px-2" *ngIf="product.quantity &lt; 1">Hết hàng</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="w-300px h-100 mx-2 mt-4" *ngIf="hiddenXemThem">
                            <div class="border py-4 d-flex h-100"><button class="btn m-auto btn-primary" (click)="search(tabSelectedCategory.index ,tabSelectedCategory.cate  )">Xem thêm</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-dashboard
>
<div class="modal fade" id="thanhToan" tabindex="1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Thanh toán</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <div class="text-center">Xác nhận thanh toán <b>Hóa đơn {{ selectOrder.index }}</b>?</div>
            </div>
            <div class="modal-footer">
                <div class="d-flex w-100"><button class="mx-auto btn btn-primary" data-dismiss="modal">Đóng</button><button class="mx-auto btn btn-danger" data-dismiss="modal" (click)="thanhToan()">Xác nhận</button></div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="scanQR" tabindex="1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Đã thấy sản phẩm</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close" (click)="isModal = false"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6"><img class="w-100 object-fit aspect-ratio-1-1" [src]="getImage(productQR?.productSize?.imagePath)" alt="" /></div>
                    <div class="my-2 col-6 d-flex flex-column" *ngIf="productQR?.productSize">
                        <h4 class="text-success">{{ productQR?.productSize?.product?.productName }}</h4>
                        <b>Giá bán {{ productQR?.productSize?.price | number }}VND </b><span>Kích thước {{ productQR?.productSize?.size?.sizeName }}</span><span>Màu {{ productQR?.productSize?.color?.colorName }}</span><span>Thể loại: {{ productQR?.productSize?.product?.type?.typeName }}</span
                        ><span
                            >Số lượng:
                            <div class="d-flex">
                                <div class="pointer bi bi-dash border align-middle px-2 py-1 mb-0" (click)="getDash(productQR,input)"></div>
                                <input class="border quantity mb-0 text-center" #input (change)="setQuantity(productQR,input,productQR.productSize.quantity)" [value]="productQR.quantity" style="width: 60px; outline: none" min="0" value="1" type="number" />
                                <div class="pointer bi bi-plus border align-middle px-2 py-1 mb-0" (click)="getPlus(productQR,input,productQR.productSize.quantity)"></div></div></span
                        ><button class="btn btn-success mt-5" (click)="addToCartByQR()">Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
