sb-layout-dashboard
    sb-dashboard-head(title='Hóa đơn', [hideBreadcrumbs]='false')
        div.ml-auto.p-2.bg-light.spinner-border(loading, *ngIf = "loading")
    //- div.alert.alert-success( *ngIf = "alertTB.show")
        span {{ alertTB.msg }}
    div
        div.card
            div.card-header 
                | Bảng hóa đơn
            div.card-body
                div.my-3
                    div Lọc hóa đơn theo ngày
                    div
                        div.d-flex
                            span
                                div Ngày bắt đầu
                                input.form-control(type="date", [(ngModel)]="startDate")
                            span.mt-4.bi.bi-dash
                            span
                                div Ngày kết thúc
                                input.form-control(type="date", [(ngModel)]="endDate")
                            div.mt-auto    
                                span.mx-2.btn.btn-primary((click)="getMethod()") Lọc
                ul.nav.nav-tabs(id="myTab" ,role="tablist")
                    li.nav-item.pointer(role="presentation", )
                        a.nav-link.active( data-toggle="tab" , role="tab", [ngClass]="isOnline == 'online'? 'bg-success text-white': ''", (click)="getOrderOnline()" ,aria-selected="true") Giao hàng
                    li.nav-item.pointer(role="presentation", )
                        a.nav-link( data-toggle="tab" , role="tab",[ngClass]="isOnline == 'offline' ? 'bg-success text-white': ''", (click)="getOrderOffline()" ,aria-selected="true") Tại quầy
                    //- li.nav-item.pointer(role="presentation", )
                    //-     a.nav-link( data-toggle="tab" , role="tab",[ngClass]="isOnline == 'huyDon' ? 'bg-success text-white': ''", (click)="getOrderXacNhanHuy()" ,aria-selected="true") Hóa đơn bị hủy
                    
                .h-500px.scrol-y
                    table.table.table-striped
                        thead
                            tr 
                                th.border-top-0 Mã hóa đơn 
                                th.border-top-0( *ngIf="isOnline == 'online'" ) Tên khách hàng
                                th.border-top-0( *ngIf="isOnline == 'offline'" ) Người bán
                                th.border-top-0( *ngIf="isOnline == 'huyDon'" ) Người hủy
                                th.border-top-0 Giá
                                th.border-top-0 Thời gian 
                                th.border-top-0( *ngIf="isOnline == 'online'" )  Trạng thái
                                th.border-top-0( *ngIf="isOnline == 'huyDon'" )  Lý do hủy
                                //- th.border-top-0( *ngIf="isOnline == 'offline'" )
                        tbody 
                        tr.pointer( *ngFor ="let od of orders", [ngClass]="order === od ? 'bg-success text-white':''" ,(click)="getOrderDetail(od)")
                                td HD{{ od.idOrder }}
                                td {{ od?.user?.name }}
                                td {{ (od?.totalMoney ? od?.totalMoney : 0 ) | number}}VND
                                td {{ od?.createDate | date : ' HH:mm dd-MM-yyyy'  }}
                                td( *ngIf="isOnline == 'online'" ) {{ od?.status }}
                                //- td( *ngIf="isOnline == 'offline'" )
                                //-     div.d-flex(*ngIf="isDate30m(od?.createDate)" )
                                //-         button.ml-auto.btn.btn-danger(data-toggle="modal" ,  data-target="#huyHoaDon" ,(click)="hoaDonHuy = od" ) Hủy đơn 
                                td( *ngIf="isOnline == 'huyDon'", ) {{ od.moTa }}
                                //- td( *ngIf="isOnline == 'huyDon'" )
                                //-     div.d-flex
                                //-         button.ml-auto.mx-2.btn.btn-danger( (click)="xacNhanHuyHoaDon(od)" ) Xác nhận hủy 
                                //-         button.mx-2.btn.btn-primary( (click)="khoiPhucHoaDon(od)" ) Khôi phục hóa đơn

                                        
                             
        div.card.mt-4
            div.card-header 
                | Bảng sản phẩm trong hóa đơn
            div.card-body.h-500px.scrol-y
                //- div.my-3.d-flex
                //-     label.my-auto(for="") Tìm kiếm:  
                //-     span
                //-         input.form-control.mx-2(#searchInput,type="search",(keyup.enter) = "search(searchInput)",placeholder = "Nhập từ khóa")
                div
                    table.table.table-striped
                        thead
                            tr 
                                th.border-top-0 Sản phẩm  
                                th.border-top-0 Kích thước
                                th.border-top-0 Màu
                                th.border-top-0 Giá
                                th.border-top-0 Số lượng
                                th.border-top-0 Thành tiền
                                //- th Trạng thái
                        tbody 
                            tr( *ngFor="let odt of orderDetail ")
                                td {{ odt?.productName }}
                                td {{ odt?.sizeName }}
                                td {{ odt?.colorName }}
                                td {{ odt?.price | number }}VND
                                td {{ odt?.quantity | number}}
                                td {{ odt?.quantity * odt?.price | number}}VND


//- div.modal.fade(id="huyHoaDon" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
//-   div.modal-dialog.modal-dialog-centered
//-     div.modal-content
//-         div.modal-header.py-1
//-             h5.modal-title( id="exampleModalLabel") Xác nhận hủy hóa đơn
//-             span.pointer(#modal,(click)="submitHuy = false",class="close", data-dismiss="modal", aria-label="Close"  )
//-                 span(aria-hidden="true") &times;
//-         div.modal-body
//-             div.text-center.mb-3 Lý do hủy hóa đơn 
//-                 span.text-danger *
//-             //- span.text-danger( *ngIf="hoaDonHuy?.statusMoney" )
//-             div 
//-                 textarea.form-control( [(ngModel)]="hoaDonHuy.moTa" , name="", cols="30", rows="5") 
//-                 span.text-danger( *ngIf="!hoaDonHuy?.moTa && submitHuy " ) Không để trống lý do hủy
//-             div.d-flex.mt-3
//-                 button.btn.btn-warning.mx-auto((click)="submitHuy = false",data-dismiss="modal") Đóng
//-                 button.btn.btn-primary.mx-auto((click) = "huyHoaDon(hoaDonHuy,modal)") Xác nhận