<sb-layout-dashboard
    ><sb-dashboard-head title="Hóa đơn" [hideBreadcrumbs]="false"><div class="ml-auto p-2 bg-light spinner-border" loading *ngIf="loading"></div></sb-dashboard-head>
    <div>
        <div class="card">
            <div class="card-header">Bảng hóa đơn</div>
            <div class="card-body">
                <div class="my-3">
                    <div>Lọc hóa đơn theo ngày</div>
                    <div>
                        <div class="d-flex">
                            <span
                                ><div>Ngày bắt đầu</div>
                                <input class="form-control" type="date" [(ngModel)]="startDate" /></span
                            ><span class="mt-4 bi bi-dash"></span
                            ><span
                                ><div>Ngày kết thúc</div>
                                <input class="form-control" type="date" [(ngModel)]="endDate"
                            /></span>
                            <div class="mt-auto"><span class="mx-2 btn btn-primary" (click)="getMethod()">Lọc</span></div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item pointer" role="presentation"><a class="nav-link active" data-toggle="tab" role="tab" [ngClass]="isOnline == 'online'? 'bg-success text-white': ''" (click)="getOrderOnline()" aria-selected="true">Giao hàng</a></li>
                    <li class="nav-item pointer" role="presentation"><a class="nav-link" data-toggle="tab" role="tab" [ngClass]="isOnline == 'offline' ? 'bg-success text-white': ''" (click)="getOrderOffline()" aria-selected="true">Tại quầy</a></li>
                </ul>
                <div class="h-500px scrol-y">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="border-top-0">Mã hóa đơn</th>
                                <th class="border-top-0" *ngIf="isOnline == 'online'">Tên khách hàng</th>
                                <th class="border-top-0" *ngIf="isOnline == 'offline'">Người bán</th>
                                <th class="border-top-0" *ngIf="isOnline == 'huyDon'">Người hủy</th>
                                <th class="border-top-0">Giá</th>
                                <th class="border-top-0">Thời gian</th>
                                <th class="border-top-0" *ngIf="isOnline == 'online'">Trạng thái</th>
                                <th class="border-top-0" *ngIf="isOnline == 'huyDon'">Lý do hủy</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tr class="pointer" *ngFor="let od of orders" [ngClass]="order === od ? 'bg-success text-white':''" (click)="getOrderDetail(od)">
                            <td>HD{{ od.idOrder }}</td>
                            <td>{{ od?.user?.name }}</td>
                            <td>{{ (od?.totalMoney ? od?.totalMoney : 0 ) | number}}VND</td>
                            <td>{{ od?.createDate | date : ' HH:mm dd-MM-yyyy' }}</td>
                            <td *ngIf="isOnline == 'online'">{{ od?.status }}</td>
                            <td *ngIf="isOnline == 'huyDon'">{{ od.moTa }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">Bảng sản phẩm trong hóa đơn</div>
            <div class="card-body h-500px scrol-y">
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="border-top-0">Sản phẩm</th>
                                <th class="border-top-0">Kích thước</th>
                                <th class="border-top-0">Màu</th>
                                <th class="border-top-0">Giá</th>
                                <th class="border-top-0">Số lượng</th>
                                <th class="border-top-0">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let odt of orderDetail ">
                                <td>{{ odt?.productName }}</td>
                                <td>{{ odt?.sizeName }}</td>
                                <td>{{ odt?.colorName }}</td>
                                <td>{{ odt?.price | number }}VND</td>
                                <td>{{ odt?.quantity | number}}</td>
                                <td>{{ odt?.quantity * odt?.price | number}}VND</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div></sb-layout-dashboard
>
