<a class="nav-link" [routerLink]="sideNavItem.link" (click)="expanded = !expanded" [ngClass]="{active: isActive, collapsed: !expanded}"
    ><div class="d-flex w-100">
        <div class="sb-nav-link-icon" *ngIf="sideNavItem.icon"><span [class]="sideNavItem.icon"></span></div>
        <span class="my-auto">{{sideNavItem.text}}</span><span class="ml-auto" *ngIf="sideNavItem?.count &gt; 0"><span class="bg-danger rounded px-1 text-white">{{ sideNavItem.count }}</span></span>
    </div>
    <div class="sb-sidenav-collapse-arrow"><fa-icon class="ml-auto" *ngIf="sideNavItem.submenu" [icon]="['fas', 'angle-down']"></fa-icon></div
></a>
<nav class="sb-sidenav-menu-nested nav" *ngIf="sideNavItem.submenu &amp;&amp; expanded"><sb-side-nav-item class="submenu" *ngFor="let submenuItem of sideNavItem.submenu" [sideNavItem]="submenuItem"></sb-side-nav-item></nav>
