a.nav-link(
    [routerLink]='sideNavItem.link',
    (click)='expanded = !expanded',
    [ngClass]='{active: isActive, collapsed: !expanded}'
)
    //- div( *ngIf="" )
    div.d-flex.w-100
        .sb-nav-link-icon(*ngIf='sideNavItem.icon')
            //- fa-icon([icon]='["fas", sideNavItem.icon]')
            span([class]="sideNavItem.icon")
        span.my-auto {{sideNavItem.text}}
        span.ml-auto( *ngIf="sideNavItem?.count > 0" )
            span.bg-danger.rounded.px-1.text-white {{ sideNavItem.count }}
    .sb-sidenav-collapse-arrow
        fa-icon(
            *ngIf='sideNavItem.submenu',
            [icon]="['fas', 'angle-down']"
        ).ml-auto
nav.sb-sidenav-menu-nested.nav(*ngIf='sideNavItem.submenu && expanded')
    sb-side-nav-item.submenu(
        *ngFor='let submenuItem of sideNavItem.submenu',
        [sideNavItem]='submenuItem'
    )
