layout
    div.container-xl.mt-5
        div.d-flex.bg-light
            div.h5.text-uppercase.my-auto.p-3 Cửa hàng 
            span.ml-auto.d-flex(style="width:350px")
                //- span.ml-auto.my-auto() Sắp xếp theo 
                //- span.px-2
                //-     select.form-control#select(name="") 
                //-         option(value="") Giá tăng dần
                //-         option(value="") Giá giảm dần
                
        div.d-flex.mt-5
            div.w-300px.mr-3.position-relative.p-3.bg-light
                //- div.d-flex.mt-4
                //-     input.outline-none.border.w-100(#ipSearch , (keyup)="search(ipSearch.value)" , type="text")
                //-     span.px-3.p-2.pointer.bg-success.text-white.mx-2( )
                //-         span.bi.bi-search( *ngIf="!loading" )
                //-         span.spinner-border.spinner-border-sm( *ngIf="loading" )
                div.position-absolute.list-group.w-100
                    div.w-100.list-group-item.text-1-row.py-2.bg-light.pointer( *ngFor=" let pro of listSearch" ,[routerLink]="['/info-product',pro.category.idCategory,pro.idProduct]" ) {{ pro.productName }}
                div.mt-3
                    b.text-uppercase Thể loại sản phẩm
                div
                    div.pl-3.py-2.hover.pointer.mb-1( *ngFor="let ctg of categories;" , (click)="setCategory(ctg?.idType)", [ngClass]="idCate == ctg.idType ? 'bg-success text-white bi bi-check2' : ''" ) {{ ctg?.typeName }}
                div.mt-3
                    b.text-uppercase Điều kiện ánh sáng 
                div
                    div.pl-3.py-2.hover.pointer.mb-1( *ngFor="let ctg of lightAspect.data;" , (click)="setLightAspect(ctg)" , [ngClass]="lightAspectChoose == ctg ? 'bg-success text-white bi bi-check2' : ''" ) {{ ctg?.lightAspectName }}
                div.mt-3
                    b.text-uppercase Môi trường sống
                div
                    div.pl-3.py-2.hover.pointer.mb-1( *ngFor="let ctg of habitats.data;" , (click)="setHabitatChoose(ctg)" , [ngClass]="isHabitatsChoose(ctg) ? 'bg-success text-white bi bi-check2' : ''" ) {{ ctg?.habitatsName }}
                div.mt-3.text-uppercase 
                    b Lọc theo giá
                
                div
                    div
                        label(for="") Từ
                        .input-group.mb-3
                            input.form-control( #inputMin,(keyup)="setMin(inputMin.value)",step="1000", type="number" ,  [value]="valueMin" ) 
                            div.input-group-prepend     
                                span.input-group-text VND
                            
                    
                    //- span.d-flex.px-2.py-3
                    //-     b.mt-auto.py-2.bi.bi-dash
                    div
                        label(for="") Đến
                        .input-group.mb-3
                            input.form-control(#inputMax ,(keyup)="setMax(inputMax.value)",step="1000", type="number",[value]="valueMax " )
                            div.input-group-prepend     
                                span.input-group-text VND
                div.text-danger( *ngIf="valueMin < 0 || valueMax < 0" ) Tiền không âm
                //- div( *ngIf="!!valueMin && !valueMax" ) Lọc từ {{ valueMin |number }}VND trở lên
                div( *ngIf="!!valueMin && !!valueMax" ) Lọc từ {{ valueMin |number }}VND - {{ valueMax| number }}VND
                //- div( *ngIf="!!valueMax && !valueMin" ) Lọc từ {{ valueMax| number }}VND trở xuống
                //- div.pointer.hover( (click)="boLoc()" , *ngIf="!!valueMax || !!valueMin") Bỏ lọc giá
                div.btn.btn-success.w-100.mt-3((click)="getProduct(pageNumber)") Lọc
                div.btn.btn-danger.w-100.mt-3((click)="boLoc()") Bỏ lọc
            div.w-75.bg-white
                product-list.row( [col]="4" , [products]="products.content")

                div.d-flex.p-2.bg-light.mt-3
                    nav.my-auto.mx-auto(aria-label="...")
                        ul.pagination.pagination-sm.my-0
                            li.page-item.pointer(aria-current="page", *ngFor="let i of products?.totalPages" , [ngClass]="pageNumber===i ? 'active' : ''", (click)="getProduct(i)")
                                span.page-link {{i}} 
                div( *ngIf=" products?.content.length < 1 " )
                    .h-500px.d-flex 
                        span.m-auto Không tìm thấy sản phẩm 










//- div.modal.fade(id="deleteProduct" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
//-     div.modal-dialog.modal-dialog-centered
//-         div.modal-content
//-             div.modal-header.py-1
//-                 h5.modal-title( id="exampleModalLabel") Xóa sản phẩm khỏi giỏ
//-                 span.pointer(class="close", data-dismiss="modal", aria-label="Close" ,#closeModal )
//-                     span(aria-hidden="true") &times;
//-             div.modal-body
//-                 .text-center    
//-                     | Xác nhận xóa sản phẩm 
//-                     b {{ deleteOrderDetail?.product?.productName }} 
//-                     | khỏi giỏ hàng?
//-                 div.d-flex.my-2
//-                     button.btn.btn-primary.mx-auto(data-dismiss="modal",) Đóng
//-                     button.btn.btn-danger.mx-auto(data-dismiss="modal",(click) = "delete()") Xác nhận


            

        