@import 'styles/variables.scss';
.border-radius{
    border-radius: 10px !important;
}
.w-300px{
    width: 300px  !important;
}
.w-autu{
    width: auto;
}
.hover:hover{
    background: rgb(172, 224, 172);
}
.active{
    background-color: rgba(128, 128, 128, 0.254);
}
.text-1-row {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 1;
    height: 25x;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
// .hover:hover{
//     color: rgba(7, 7, 246, 0.727);
// }