sb-layout-dashboard
    sb-dashboard-head(title='Chi tiết đơn hàng', [hideBreadcrumbs]='false')
        div.d-flex
            //- button.btn.btn-primary.my-auto((click) = "resetForm()" ,data-toggle="modal",data-target="#addUser") 
        div.ml-auto.p-2.bg-light.spinner-border(loading, *ngIf = "loading")
    div 
        div.row
            div.col-12.row.mb-4
                div.col-5.border-right
                    div.mb-3
                        b Tên khách hàng: 
                        | {{ order?.user?.name }}
                    div.mb-3 
                        b SDT: 
                        | {{ order?.user?.phone }}
                    div.mb-3 
                        b Địa chỉ: 
                        | {{ order?.diaChi }}
                   
                div.col-7 
                    div.mb-3 
                        b Trạng thái đơn: 
                        | {{ order?.status }}
                    div.mb-3 
                        b Thanh toán: 
                        | {{ order?.statusMoney }}
                    div.mb-3 
                        b   
                            div Thông tin 
                        div {{ order?.moTa ? order?.moTa : "Không có" }}
                    
            div.col-12
                table.table.table-bordered
                    thead 
                        tr
                            th Ảnh 
                            th Tên sản phẩm 
                            th Màu 
                            th Kích thước 
                            th Số lượng 
                            th Giá 
                    tbody
                        tr( *ngFor =" let odt of orderDetail") 
                            td.text-center 
                                img( width="100px" ,[src]="'data:image/jpeg;base64,'+odt?.productSize?.images?.data", alt="")
                            td.text-center {{odt?.productName}}
                            td.text-center {{ odt?.colorName }}
                            td.text-center {{ odt?.sizeName }}
                            td.text-center {{ odt?.quantity | number }}
                            td.text-center {{ odt?.price * odt?.quantity | number }}VND

            

            
