<sb-layout-dashboard
    ><sb-dashboard-head title="Chi tiết đơn hàng" [hideBreadcrumbs]="false"
        ><div class="d-flex"></div>
        <div class="ml-auto p-2 bg-light spinner-border" loading *ngIf="loading"></div
    ></sb-dashboard-head>
    <div>
        <div class="row">
            <div class="col-12 row mb-4">
                <div class="col-5 border-right">
                    <div class="mb-3"><b>Tên khách hàng: </b>{{ order?.user?.name }}</div>
                    <div class="mb-3"><b>SDT: </b>{{ order?.user?.phone }}</div>
                    <div class="mb-3"><b>Địa chỉ: </b>{{ order?.diaChi }}</div>
                </div>
                <div class="col-7">
                    <div class="mb-3"><b>Trạng thái đơn: </b>{{ order?.status }}</div>
                    <div class="mb-3"><b>Thanh toán: </b>{{ order?.statusMoney }}</div>
                    <div class="mb-3">
                        <b> <div>Thông tin</div></b>
                        <div>{{ order?.moTa ? order?.moTa : "Không có" }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Màu</th>
                            <th>Kích thước</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let odt of orderDetail">
                            <td class="text-center"><img width="100px" [src]="'data:image/jpeg;base64,'+odt?.productSize?.images?.data" alt="" /></td>
                            <td class="text-center">{{odt?.productName}}</td>
                            <td class="text-center">{{ odt?.colorName }}</td>
                            <td class="text-center">{{ odt?.sizeName }}</td>
                            <td class="text-center">{{ odt?.quantity | number }}</td>
                            <td class="text-center">{{ odt?.price * odt?.quantity | number }}VND</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div></sb-layout-dashboard
>
