sb-layout-auth
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Khôi phục mật khẩu
                    .card-body
                        .small.mb-3.text-muted Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn một mã xác nhận để đặt lại mật khẩu của bạn.
                        form([formGroup] = "formGroup", (submit)="onSubmit()", *ngIf="!resetPass")
                            .form-group
                                label.small.mb-1(for='inputEmailAddress') Email
                                input#inputEmailAddress.form-control.py-4(type='email',formControlName="email" , aria-describedby='emailHelp', placeholder='Nhập vào Email')
                                span.text-danger( *ngIf="formGroup?.controls['email']?.errors?.required && submit") Chưa nhập email
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.small(routerLink='/auth/login') Về đăng nhập
                                button.btn.btn-primary(type="submit") Gửi mail

                        form([formGroup] = "formGroupResetPass", (submit)="resetpass()",*ngIf="resetPass")
                            .form-group
                                label.small.mb-1(for='inputEmailAddress1') Mã xác nhận
                                input#inputEmailAddress1.form-control.py-4(type='text',formControlName="verification" , aria-describedby='emailHelp', placeholder='Nhập vào mã xác nhận')
                                span.text-danger( *ngIf="formControl?.verification?.errors?.required && submited" ) Không để mã xác nhận
                            .form-group
                                label.small.mb-1(for='inputEmailAddress2') Mật khẩu mới
                                input#inputEmailAddress2.form-control.py-4(type='password',formControlName="passNew" , aria-describedby='emailHelp', placeholder='Nhập vào mật khẩu mới')
                                span.text-danger( *ngIf="formControl?.passNew?.errors?.required && submited" ) Không để trống mật khẩu
                                span.text-danger( *ngIf="formControl?.passNew?.errors?.minLength && submited" ) Tối thiểu 5 kí tự
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.small(routerLink='/auth/login') Về đăng nhập
                                button.btn.btn-primary(type="submit") Đổi mật khẩu 
                        form(  )
                    .card-footer.text-center
                        .small
                            a(routerLink='/auth/register') Chưa có tài khoản? Đăng kí!
