nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-success.d-flex
    a.navbar-brand(routerLink='/home')
        | SEN ĐÁ LIÊN HOA
    button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0(
        data-cy='topNavToggleSideNav',
        (click)='toggleSideNav()'
    )
        fa-icon([icon]='["fas", "bars"]')
    // Navbar Search
    form.d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0
    //-     .input-group
    //-         input.form-control(
    //-             type='text',
    //-             placeholder='Search for...',
    //-             aria-label='Search',
    //-             aria-describedby='basic-addon2'
    //-         )
    //-         .input-group-append
    //-             button.btn.btn-primary(type='button')
    //-                 fa-icon([icon]='["fas", "search"]')
    // Navbar
    ul.navbar-nav.ml-auto.ml-md-0
        sb-top-nav-user