<sb-layout-dashboard
    ><sb-dashboard-head title="Thể loại" [hideBreadcrumbs]="false"
        ><div><button class="btn btn-primary my-auto" data-toggle="collapse" data-target="#addParentCategory" #clsAddCtg>Thêm Thể loại</button></div>
        <div class="ml-auto p-2 bg-light spinner-border" loading *ngIf="loading"></div
    ></sb-dashboard-head>
    <div class="alert alert-success" *ngIf="alertTB.show"><span>{{ alertTB.msg }}</span></div>
    <div class="d-flex"><span class="text-danger" *ngIf="err.empty">Không để trống tên thể loại </span><span class="text-danger" *ngIf="err.exists">Tên thể loại bị trùng</span><button class="ml-auto btn btn-danger" *ngIf="listDeleteParen.length &gt; 0 || listDeleteChildl.length &gt; 0 " (click)="deleteMany()">Xóa nhiều</button></div>
    <div>
        <div class="border shadow py-2 my-3 collapse" id="addParentCategory" #outline>
            <div class="d-flex"><span class="bi bi-plus h4 mx-2 p-0 my-auto"></span><input class="bg-white" type="text" placeholder=" Thêm thể loại" #addparent /><button class="ml-auto btn btn-primary my-0 mx-3 py-0" (click)="saveCategoryParent(addparent,null,null,outline,clsAddCtg)">Lưu</button></div>
        </div>
        <div *ngFor="let data of datas.data">
            <div class="px-3 d-flex border shadow py-2 my-3 hover" #outline data-toggle="collapse" [attr.data-target]="'#id'+data.idC" (click)="getSizeAndColor(data)">
                <span class="my-auto"><input class="py-auto bg-white" type="text" disabled [value]="data.typeName" #parent /></span
                ><span class="ml-auto d-flex"
                    ><div #button hidden><button class="mx-2 btn btn-danger my-1 py-0" type="" (click)="close(button,parent)">Đóng</button><button class="mx-2 btn btn-primary my-1 py-0" (click)="saveCategoryParent(parent,data,button,outline,null)">Lưu</button></div>
                    <div class="crud opacity-0 my-auto"><i class="h4 p-1 pointer" data-toggle="collapse" [attr.data-target]="'#id' + data.idCategory" aria-expanded="false" aria-controls=""></i><i class="my-0 mr-2 p-1 pointer hover-warning bi bi-pencil-square text-muted h4" (click)="editForm(button,parent)"></i><i class="p-1 my-0 pointer hover-danger bi bi-trash3 text-muted h4" (click)="alertDeleteCategory(data,false)" data-toggle="modal" data-target="#deleteCategory"></i></div
                ></span>
            </div>
            <div class="modal fade" style="z-index: 9999" id="deleteColor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header py-1">
                            <h5 class="modal-title" id="exampleModalLabel">Xóa màu</h5>
                            <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                        </div>
                        <div class="modal-body text-center">
                            <span>Xóa kích thước <b>{{colorDelete?.colorName}}</b></span>
                        </div>
                        <div class="modal-footer text-center d-flex"><button class="mx-auto btn btn-primary" data-dismiss="modal">Đóng</button><button class="mx-auto btn btn-danger" data-dismiss="modal" (click)="deleteColor()">Xóa</button></div>
                    </div>
                </div>
            </div>
            <!--Modal Size-->
            <div class="modal fade" [id]="'size' + data.idCategory " tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header py-1">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm sửa xóa kích thước cho thể loại</h5>
                            <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <span>(<span class="text-danger">* </span><span>) Bắt buộc nhập</span></span>
                                <form (submit)="onSubmitSize()" [formGroup]="formSize">
                                    <label for="sizeName">Kích thước<span class="text-danger">*</span></label
                                    ><input class="border form-control" type="text" formControlName="sizeName" />
                                    <div class="text-danger" *ngIf="formSize.controls['sizeName']?.errors?.required &amp;&amp; submitSize">Không bỏ trống</div>
                                    <button class="btn my-2 btn-primary" type="submit">Lưu kích thước</button>
                                </form>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Kích thước</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let size of dataSize">
                                            <td>{{ size.sizeName }}</td>
                                            <td>
                                                <div class="d-flex"><i class="my-0 ml-auto mr-2 p-1 pointer hover-warning bi bi-pencil-square text-muted h4" (click)="editSize(size)"></i><i class="p-1 my-0 pointer hover-danger bi bi-trash3 text-muted h4" (click)="alertDeleteSize(size)" data-toggle="modal" data-target="#deleteSize"></i></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" style="z-index: 9999" id="deleteSize" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header py-1">
                            <h5 class="modal-title" id="exampleModalLabel">Xóa kích thước</h5>
                            <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                        </div>
                        <div class="modal-body text-center">
                            <span>Xóa màu <b>{{sizeDelete?.sizeName}}</b></span>
                        </div>
                        <div class="modal-footer text-center d-flex"><button class="mx-auto btn btn-primary" data-dismiss="modal">Đóng</button><button class="mx-auto btn btn-danger" data-dismiss="modal" (click)="deleteSize()">Xóa</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-dashboard
>
<div class="modal fade" id="deleteCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <div class="text-center mb-3">
                    Xóa thể loại <b *ngIf="deleteCategory.data?.typeName">{{ deleteCategory.data?.typeName }} </b><span>thì các <b>sản phẩm thuộc thể loại </b>cũng sẽ mất theo.<br /></span>
                </div>
                <div class="d-flex"><button class="btn btn-primary mx-auto" data-dismiss="modal" aria-label="Close">Đóng</button><button class="btn btn-danger mx-auto" data-dismiss="modal" (click)="deleteCate()">Xác nhận</button></div>
            </div>
        </div>
    </div>
</div>
