.row
    .col-xl-3.col-md-6
        .card-body.bg-primary.text-white
            div.d-flex
                span Đơn đang giao
                span.ml-auto {{ thongKe?.donDangGiao }}

    .col-xl-3.col-md-6
        .card-body.mx-2.bg-warning.text-white
            div.d-flex
                span Đơn đã giao
                span.ml-auto {{ thongKe?.donDaGiao }}
             

    .col-xl-3.col-md-6
        .card-body.mr-2.text-white.bg-success
            div.d-flex
                span  Đơn đã nhận
                span.ml-auto {{ thongKe?.donDaNhan }}
                

    .col-xl-3.col-md-6
        .card-body.text-white.bg-danger
            div.d-flex
                span  Đơn đã hủy
                span.ml-auto {{ thongKe?.donDaHuy }}
                 
