layout
    div.container-xl.mt-5
        div.row.bg-light.p-3.border-radius
            div.col-12.col-lg-7
                span.h3.pointer(routerLink='/cart' )
                    span.bi.bi-chevron-left
                    | Giỏ hàng
                div.d-flex.w-100.border-top.mt-3
                    //- div.mr-auto 
                    //-     div.my-1.text-muted Thông tin khách hàng
                    //-     div.my-1.text-muted thanh toán cho các sản phẩm.
                h4 Thông tin đặt hàng
                span (
                    span.text-danger *
                    span ) Bắt buộc nhập
                form([formGroup] = "formGroup")
                    .row.my-3
                        div.col-12
                            label(for="inputname") Họ và tên
                                span.text-danger *
                            input.form-control#inputname( disabled,formControlName= "name" , type="text")
                    .row.my-3
                        div.col-12.col-lg-4
                            label(for="inputname1") Tỉnh/Thành phố
                                span.text-danger * 
                            select.form-control#inputname1( formControlName = "thanh_pho" , (change)="getHuyen()" ,type="text" )
                                option(  *ngFor = "let city of thanh_pho" , [ngValue]="city") {{ city.ProvinceName }}
                            span.text-danger( *ngIf="getFormError('thanh_pho')?.required && submited " ) Chưa chọn thành phố
                        div.col-12.col-lg-4
                            label(for="inputname2") Quận/Huyện
                                span.text-danger *
                            select.form-control#inputname2( formControlName = "huyen", (change)="getXa()" ,type="text")
                                option(  *ngFor = "let h of huyen " , [ngValue]="h") {{ h.DistrictName }}
                            span.text-danger( *ngIf="getFormError('huyen')?.required && submited " ) Chưa chọn huyện
                        div.col-12.col-lg-4
                            label(for="inputname3") Xã/Thị trấn/Phường
                                span.text-danger *
                            select.form-control#inputname3( formControlName = "xa" ,type="text")
                                option(  *ngFor = "let x of xa " , [ngValue]="x") {{x.prefix}} {{ x.WardName }}
                            span.text-danger( *ngIf="getFormError('xa')?.required && submited " ) Chưa chọn xã
                    .row.my-3
                        div.col-12
                            label(for="inputname4") Số điện thoại
                                span.text-danger *
                            input.form-control#inputname4(type="text",formControlName = "phone")
                            span.text-danger( *ngIf="getFormError('phone')?.required && submited  " ) Không để trống số điện thoại
                            span.text-danger( *ngIf="getFormError('phone')?.pattern && submited " ) Chưa đúng định dạng số điện thoại
                    .row.my-3
                        div.col-12
                            label(for="inputname5") Ghi chú đơn hàng
                            textarea.form-control#inputname5(name="",formControlName="moTa", cols="30", rows="5") 
            div.col-12.col-lg-5.bg-success.border-radius.p-4.mt-3
                div.h3.text-white.mt-2.text-uppercase Đơn Hàng
                div.mt-5.mb-2 
                    div.d-flex.my-3
                        span.text-white.mr-auto.h5
                            b Sản phẩm
                        
                        span.text-white.ml-auto
                            b Giá bán
                    div.d-flex.my-1( *ngFor = "let orderDetail of order.orderDetailsList" )
                        span.text-white.mr-auto
                            span {{ orderDetail?.productSize?.product?.productName }} - {{ orderDetail.productSize.size.sizeName }}, màu {{ orderDetail.productSize.color.colorName }}(x{{ orderDetail?.quantity }})
                        span.text-white.mx-auto
                            span 
                        span.text-white.ml
                            b {{ orderDetail?.productSize?.price | number }}VND
                    div.d-flex.my-3.border-top.pt-2
                        span.text-white.mr-auto.h5
                            b Tạm tính
                        span.text-white
                            b  {{getTotal | number }} VND 
                    //- div.d-flex.my-3
                    //-     span.text-white.mr-auto Phí vận chuyển
                            
                    //-     span.text-white(*ngIf=" getFormControl('xa') && getFormControl('huyen') ") {{ shipToltal | number }}VND
                    //-     span.span.text-danger(*ngIf=" !getFormControl('xa') ||  !getFormControl('huyen')") Chưa có địa chỉ cụ thể

                        //- span.text-white 0 VND 
                    //- div.d-flex.my-3
                    //-     span.text-white.mr-auto Khuyến mãi
                    //-     span.text-white 30.000(5%) VND 
                    div.d-flex.my-3.h4
                        span.text-white.mr-auto Tổng
                        span.text-white {{(getTotal ) | number }} VND 
                    div.my-3.border-top.pt-2
                        span.text-white.mr-auto.h5
                            b Phương thức thanh toán
                        div.my-3 
                            input.mr-2#pt1(type="radio", [(ngModel)]="methodPay" ,value="NH", name="pt")
                            label.text-white(for="pt1") 
                                b Thanh toán khi nhận hàng
                            label.text-white(for="pt1") Trả tiền mặt khi nhận hàng.
                                
                        div.my-3 
                            input.mr-2#pt2(type="radio", [(ngModel)]="methodPay",value="VDT" , name="pt")
                            label.text-white(for="pt2") 
                                b Chuyển khoản qua ngân hàng
                            label.text-white(for="pt2") 
                                div Thực hiện chuyển khoản ngay vào tài khoản chúng tôi. Vui lòng sử dụng MÃ đơn hàng của ban trong phần 
                                b nội dung thanh toán. 
                                span Đơn hàng sẽ được giao sau khi tiền đã chuyển.
                span.text-danger( *ngIf="errAmount" ) Đơn hàng tối thiều 10.000VND
                button.w-100.btn.bg-white.py-3.text-uppercase((click) = "datHang()") Thanh Toán
                //- div.text-white.my-2.mt-5 Loại thẻ
                //- div 
                //-     img.object-fit.border-radius(width= "50px",src="https://inkythuatso.com/uploads/images/2021/12/vnpay-logo-inkythuatso-01-13-16-26-42.jpg", alt="")

            

        