<layout
    ><div class="container-xl mt-5">
        <div class="row bg-light p-3 border-radius">
            <div class="col-12 col-lg-7">
                <span class="h3 pointer" routerLink="/cart"><span class="bi bi-chevron-left"></span>Giỏ hàng</span>
                <div class="d-flex w-100 border-top mt-3"></div>
                <h4>Thông tin đặt hàng</h4>
                <span>(<span class="text-danger">*</span><span>) Bắt buộc nhập</span></span>
                <form [formGroup]="formGroup">
                    <div class="row my-3">
                        <div class="col-12">
                            <label for="inputname">Họ và tên<span class="text-danger">*</span></label
                            ><input class="form-control" id="inputname" disabled formControlName="name" type="text" />
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-12 col-lg-4">
                            <label for="inputname1">Tỉnh/Thành phố<span class="text-danger">* </span></label
                            ><select class="form-control" id="inputname1" formControlName="thanh_pho" (change)="getHuyen()" type="text">
                                <option *ngFor="let city of thanh_pho" [ngValue]="city">{{ city.ProvinceName }}</option></select
                            ><span class="text-danger" *ngIf="getFormError('thanh_pho')?.required &amp;&amp; submited ">Chưa chọn thành phố</span>
                        </div>
                        <div class="col-12 col-lg-4">
                            <label for="inputname2">Quận/Huyện<span class="text-danger">*</span></label
                            ><select class="form-control" id="inputname2" formControlName="huyen" (change)="getXa()" type="text">
                                <option *ngFor="let h of huyen " [ngValue]="h">{{ h.DistrictName }}</option></select
                            ><span class="text-danger" *ngIf="getFormError('huyen')?.required &amp;&amp; submited ">Chưa chọn huyện</span>
                        </div>
                        <div class="col-12 col-lg-4">
                            <label for="inputname3">Xã/Thị trấn/Phường<span class="text-danger">*</span></label
                            ><select class="form-control" id="inputname3" formControlName="xa" type="text">
                                <option *ngFor="let x of xa " [ngValue]="x">{{x.prefix}} {{ x.WardName }}</option></select
                            ><span class="text-danger" *ngIf="getFormError('xa')?.required &amp;&amp; submited ">Chưa chọn xã</span>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-12">
                            <label for="inputname4">Số điện thoại<span class="text-danger">*</span></label
                            ><input class="form-control" id="inputname4" type="text" formControlName="phone" /><span class="text-danger" *ngIf="getFormError('phone')?.required &amp;&amp; submited  ">Không để trống số điện thoại</span><span class="text-danger" *ngIf="getFormError('phone')?.pattern &amp;&amp; submited ">Chưa đúng định dạng số điện thoại</span>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-12"><label for="inputname5">Ghi chú đơn hàng</label><textarea class="form-control" id="inputname5" name="" formControlName="moTa" cols="30" rows="5"> </textarea></div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-5 bg-success border-radius p-4 mt-3">
                <div class="h3 text-white mt-2 text-uppercase">Đơn Hàng</div>
                <div class="mt-5 mb-2">
                    <div class="d-flex my-3">
                        <span class="text-white mr-auto h5"><b>Sản phẩm</b></span
                        ><span class="text-white ml-auto"><b>Giá bán</b></span>
                    </div>
                    <div class="d-flex my-1" *ngFor="let orderDetail of order.orderDetailsList">
                        <span class="text-white mr-auto"><span>{{ orderDetail?.productSize?.product?.productName }} - {{ orderDetail.productSize.size.sizeName }}, màu {{ orderDetail.productSize.color.colorName }}(x{{ orderDetail?.quantity }})</span></span
                        ><span class="text-white mx-auto"><span> </span></span><span class="text-white ml"><b>{{ orderDetail?.productSize?.price | number }}VND</b></span>
                    </div>
                    <div class="d-flex my-3 border-top pt-2">
                        <span class="text-white mr-auto h5"><b>Tạm tính</b></span
                        ><span class="text-white"><b> {{getTotal | number }} VND </b></span>
                    </div>
                    <div class="d-flex my-3 h4"><span class="text-white mr-auto">Tổng</span><span class="text-white">{{(getTotal ) | number }} VND </span></div>
                    <div class="my-3 border-top pt-2">
                        <span class="text-white mr-auto h5"><b>Phương thức thanh toán</b></span>
                        <div class="my-3">
                            <input class="mr-2" id="pt1" type="radio" [(ngModel)]="methodPay" value="NH" name="pt" /><label class="text-white" for="pt1"> <b>Thanh toán khi nhận hàng</b></label
                            ><label class="text-white" for="pt1">Trả tiền mặt khi nhận hàng.</label>
                        </div>
                        <div class="my-3">
                            <input class="mr-2" id="pt2" type="radio" [(ngModel)]="methodPay" value="VDT" name="pt" /><label class="text-white" for="pt2"> <b>Chuyển khoản qua ngân hàng</b></label
                            ><label class="text-white" for="pt2">
                                <div>Thực hiện chuyển khoản ngay vào tài khoản chúng tôi. Vui lòng sử dụng MÃ đơn hàng của ban trong phần</div>
                                <b>nội dung thanh toán. </b><span>Đơn hàng sẽ được giao sau khi tiền đã chuyển.</span></label
                            >
                        </div>
                    </div>
                </div>
                <span class="text-danger" *ngIf="errAmount">Đơn hàng tối thiều 10.000VND</span><button class="w-100 btn bg-white py-3 text-uppercase" (click)="datHang()">Thanh Toán</button>
            </div>
        </div>
    </div></layout
>
