@import 'styles/variables.scss';

.bg-img{
    background-image: url("/assets/img/bg-img.jpg");
    background-size: 150% auto;
    // background-position: ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
