<div class="bg-img" id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main><ng-content></ng-content></main>
    </div>
    <div id="layoutAuthentication_footer"><sb-footer></sb-footer></div>
</div>
