sb-layout-dashboard
    sb-dashboard-head(title='Duyệt đơn hàng', [hideBreadcrumbs]='false')
        div.ml-auto.p-2.bg-light.spinner-border(loading, *ngIf = "loading")
    div.alert.alert-success( *ngIf = "alertTB.showSuccess")
        span {{ alertTB.msg }}
    div.alert.alert-success( *ngIf = "alertTB.showError")
        span {{ alertTB.msg }}
    div
        div.card
            div.card-header 
                | Bảng kiểm duyệt
            div.card-body
                div.my-3
                    div Lọc theo ngày
                    div
                        label(for="") Khoảng ngày
                        div.d-flex
                            span
                                input.form-control(type="date", [(ngModel)]="startDate")
                            span.bi.bi-dash
                            span
                                input.form-control(type="date", [(ngModel)]="endDate")
                            span.btn.mx-2.btn-primary((click)="getByDate()") Lọc
                            span.btn.mx-2.btn-danger((click)="getNotDate()", *ngIf="isDay") Bỏ lọc
                ul.nav.nav-tabs(id="myTab" ,role="tablist")
                    li.nav-item.pointer(role="presentation", *ngFor="let t of tab; let i = index" , (click)="selected(t)" )
                        a.nav-link([ngClass]="tabSelect === t ? 'bg-success text-white ' : null" ,data-toggle="tab" , role="tab" ,aria-selected="true") {{ t.name }}
                    
                div.h-100( *ngIf="datasOrder?.data?.content.length < 1" )
                    .d-flex.h-500px
                        h3.m-auto.text-muted Không có đơn
                table.table.table-striped( *ngIf="datasOrder?.data?.content.length > 0")
                    thead
                        tr 
                            th.border-top-0 Mã đơn 
                            th.border-top-0 Chi tiết đơn
                            th.border-top-0 Tên khách hàng
                            th.border-top-0 Giá
                            th.border-top-0 Thời gian 
                            th.border-top-0 Trạng thái thanh toán
                            th.border-top-0 Trạng thái
                    tbody 
                        tr( *ngFor="let data of datasOrder?.data?.content", )
                            td
                                //- input.mr-2(type="checkbox")
                                span HD{{ data.idOrder }}
                            td 
                                span.btn.btn-primary.pointer( [routerLink]="['/admin/kiem-duyet/chi-tiet-don',data.idOrder]" ) Chi tiết
                            td {{ data.user?.name }}
                            td {{ data.totalMoney | number }}VND
                            td {{ data.createDate | date : 'dd-MM-yyyy' }}
                            td {{ data.statusMoney  }}
                            td {{ data.status }}
                            td  
                                span.d-flex(*ngIf = "tabSelect.id === 1 ") 
                                    span.btn.btn-primary.ml-auto.mr-2.p-1.pointer.text-white.h4(,data-toggle="modal",data-target="#changeStatus",(click)="setOrder(data)") Nhận đơn
                                    span.btn.btn-danger.p-1.pointer.ger.text-white.h4((click) = "postRequest(tab[tabSelect.id-1].api.delete,data)" , data-toggle="modal",data-target="#deleteUser" ) Từ chối
                                span.d-flex(*ngIf = "tabSelect.id === 2 ")
                                    span.btn.btn-primary( (click)="order = data",data-toggle="modal",data-target="#changeStatus" ) Giao hàng

                                span.d-flex(*ngIf = "tabSelect.id === 3 ")
                                    span.btn.btn-primary.mr-2( (click)="order = data",data-toggle="modal",data-target="#changeStatus" ) Đã giao
                                    span.btn.btn-danger( (click)="setOrder(data)" ,  data-toggle="modal",data-target="#huyDon" ) Giao thất bại
            div.card-footer.d-flex( *ngIf = "datasOrder?.data?.content?.length > 0")
                div Dòng {{datasOrder?.data?.content?.length}}/{{datasOrder?.data?.size}}
                div.mx-auto Trang {{pageNumber+1}}/{{datasOrder?.data?.totalPages}}
                nav(aria-label="")
                    ul.pagination.row
                        li.page-item
                            span.page-link.pointer(href="#", aria-label="Previous",(click) = "actionPage(prePage(inputPage,datasOrder?.data?.totalPages))")
                                span(aria-hidden="true") &laquo;
                        li(page-item)
                            input.text-center.h-100.border.outline-none(#inputPage,(keyup.enter) = "actionPage(getPage(inputPage,datasOrder?.data?.totalPages))", min="1",[value] = "(pageNumber+1)" , style = "width : 40px",type="number")
                        li( class="page-item")
                            span.page-link.pointer( href="#" aria-label="Next", (click) = "actionPage(nextPage(inputPage,datasOrder?.data?.totalPages))" )
                                span(aria-hidden="true") &raquo;   


            //- div.card-footer.d-flex( *ngIf = "datasUser?.content?.length > 0")
                div Dòng {{datasUser?.content?.length}}/{{datasUser.size}}
                div.mx-auto Trang {{pageNumber+1}}/{{datasUser.totalPages}}
                nav(aria-label="")
                    ul.pagination.row
                        li.page-item
                            span.page-link.pointer(href="#", aria-label="Previous",(click) = "actionPage(prePage(inputPage,datasUser.totalPages),inputPage)")
                                span(aria-hidden="true") &laquo;
                        li(page-item)
                            input.text-center.h-100.border.outline-none(#inputPage,(keyup.enter) = "actionPage(getPage(inputPage,datasUser.totalPages),inputPage)", min="1",[value] = "(pageNumber+1)" , style = "width : 40px",type="number")
                        li( class="page-item")
//-                             span.page-link.pointer( href="#" aria-label="Next", (click) = "actionPage(nextPage(inputPage,datasUser.totalPages),inputPage)" )
      

div.modal.fade(id="changeStatus" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
  div.modal-dialog.modal-dialog-centered
    div.modal-content
        div.modal-header.py-1
            h5.modal-title( id="exampleModalLabel") Chuyển trạng thái đơn
            span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                span(aria-hidden="true") &times;
        div.modal-body
            div.text-center Xác nhận đổi trạng thái đơn hàng
        div.modal-footer.d-flex 
            button.btn.btn-primary.ml-auto(data-dismiss="modal") Đóng
            button.btn.btn-danger.mx-auto(data-dismiss="modal",(click) = "postRequest(tab[tabSelect.id-1].api.post,order)") Xác nhận
div.modal.fade(id="huyDon" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
  div.modal-dialog.modal-dialog-centered
    div.modal-content
        div.modal-header.py-1
            h5.modal-title( id="exampleModalLabel") Hủy đơn
            span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                span(aria-hidden="true") &times;
        div.modal-body
            div.text-center Xác nhận hủy đơn hàng
        div.modal-footer.d-flex 
            button.btn.btn-danger.ml-auto(data-dismiss="modal") Đóng
            button.btn.btn-primary.mx-auto(data-dismiss="modal",(click) = "postRequest(tab[tabSelect.id-1].api.delete,order)") Xác nhận