<div class="boder-top-0">
    <div class="card">
        <div class="card-header">
            <span class="fw-bold text-muted">{{ title }}</span>
        </div>
        <div class="card-body">
            <div class="my-3 d-flex">
                <ng-content #name>
                    <!-- <label class="my-auto" for="">Tìm kiếm: </label>
                    <span>
                        <input type="text" placeholder="Nhập từ khóa" class="form-control mx-2" style="width: 200px;" >
                    </span> -->
                </ng-content>
                
            </div>
            <table class="table table-striped w-100">
                <thead>
                    <tr> 
                        <th *ngFor="let field of fields" >
                            {{ field.value  }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of datas">
                        <td *ngFor="let field of fields">
                            {{ field?.number ? (data[field.key]  | number) :   data[field.key] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 
