nav.navbar.navbar-expand-lg.navbar-light.bg-white
    a.navbar-brand  
        img.pointer(routerLink="/home", style ="width:350px;", src ="assets/img/logo.png")
    button.navbar-toggler(data-toggle="collapse", data-target="#navbarSupportedContent" ,aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

    div.collapse.navbar-collapse(id="navbarSupportedContent")
        div.flex-column.w-100
            ul.navbar-nav.mr-auto
                li.nav-item.hover.mx-1
                    a.nav-link.text-success.text-uppercase.pointer([routerLink]="['/home']" ) Sen đá Hà Nội 
                
                li.nav-item.hover.mx-1.dropdown
                    a.nav-link.text-success.text-uppercase.dropdown-toggle( href="#" ,id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true" ,aria-expanded="false")  Cửa hàng
                    div.dropdown-menu(aria-labelledby="navbarDropdown")
                        a.dropdown-item( *ngFor="let ctg of categories;", [routerLink]="['/list-product/',ctg.idType]" ) {{ ctg.typeName }}
                        //- a.dropdown-item Another action
                li.nav-item.hover.mx-1
                    a.nav-link.pointer.text-success.text-uppercase( routerLink="/kien-thuc" ) Thông tin & kiến thức
                li.nav-item.hover.mx-1
                    a.nav-link.pointer.text-success.text-uppercase( routerLink="/contact" ) Liên hệ
                li.nav-item.mx-1
                    button.btn.btn-success( *ngIf="!auth.isLogged()",[routerLink] = "['/auth/login']") Đăng nhập
                li.nav-item.hover.mx-1.dropdown(*ngIf="auth.isLogged()")
                    a.bi.bi-person-fill.nav-link.text-success.text-uppercase.dropdown-toggle( href="#", style="font-size:20px" ,id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true" ,aria-expanded="false") 
                    div.dropdown-menu(aria-labelledby="navbarDropdown")
                        a.dropdown-item.pointer( *ngIf="roleSv?.isQuanLy || roleSv?.isNhanVien", [routerLink] = "['/admin']") Quản lý trang web
                        a.dropdown-item.pointer([routerLink] = "['/profile']") Quản lý thông tin
                        a.dropdown-item.pointer( data-toggle= "modal", data-target="#doiMK" ) Đổi mật khẩu
                        a.dropdown-item.pointer([routerLink] = "['/auth/logout']") Đăng xuất
            div.d-flex
                form.my-2.my-lg-0.w-75.d-flex.border.ml-lg-2.position-relative
                    input.input.form-control( #ipSearch, list="pro",type="search",(keyup)="search(ipSearch.value)" , placeholder="Search" ,aria-label="Search")
                    i.bi.bi-search.h5.my-auto.mx-2( *ngIf="!loading")
                    div.spinner-border.spinner-border-sm.mx-2.my-auto( *ngIf="loading" )
                    div.list-group.position-absolute.w-100( style="z-index:999;margin-top:38px;", *ngIf="listSearch.length > 0 " )
                        div.pointer.list-group-item.hover-list( *ngFor=" let pro of listSearch",(click)="clearsearch(ipSearch)" ,[routerLink]="['/info-product',pro.type.idType,pro.idProduct]")
                            div.row
                                img.aspect-ratio-1-1( style="width:50px; object-fit: cover;" ,  , [src]="pro.productSizeList[0]?.imagePath", alt="")
                                div.ml-3
                                    div 
                                        b {{pro.productName}}
                                    span.text-muted Giá từ: {{ getFrom(pro.productSizeList) | number }}VND - {{ getTo(pro.productSizeList) }}VND


                div.position-relative(  )
                    span.position-absolute.rounded.bg-danger.px-1.text-white.top-0.right-0( *ngIf="auth.isLogged()",style=" font-size: 10px" ) {{count.countCart}}
                    i.bi.bi-cart3.h2.mr-auto.px-3.pointer.border-right.my-0([routerLink]="['/cart']")
                
            
    //- div 
        //- i.bi.bi-cart3.h3
div.modal.fade(id="doiMK" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
  div.modal-dialog.modal-dialog-centered
    div.modal-content
        div.modal-header.py-1
            h5.modal-title( id="exampleModalLabel") Đổi mật khẩu
            span.pointer(class="close", data-dismiss="modal", aria-label="Close"  )
                span(aria-hidden="true") &times;
        div.modal-body
            form( [formGroup]="formGroup", (submit)="doiMK()" ) 
                span.text-danger( *ngIf="errMkcu" ) Mật khẩu cũ không đúng
                div.mt-2    
                    label(for="passOld") Mật khẩu cũ
                    input.form-control.py-3(type="password", formControlName="oldPass" ) 
                    span.text-danger( *ngIf=" formGroup?.controls?.oldPass?.errors?.required && submited  " ) Không để trống mật khẩu cũ
                div.mt-2
                    label(for="passOld") Mật khẩu mới
                    input.form-control.py-3(type="password", formControlName="password" ) 
                    span.text-danger( *ngIf=" formGroup?.controls?.password?.errors?.required && submited  " ) Không để trống mật khẩu mới
                .mt-3.d-flex  
                    button.mx-auto.btn.btn-primary.ml-auto(data-dismiss="modal") Đóng
                    button.mx-auto.btn.btn-danger.mx-auto( type="submit") Đổi mật khảu
        div.modal-footer.d-flex 
            