@import 'styles/variables.scss';
.input{
    outline: none;
    border: none;
}
.hover:hover{
    border-top: 5px green solid ;
    padding-top: 0 ;
}
.hover{
    padding-top: 5px ;
}
.rounded{
    border-radius: 10px !important;
}
.top-0{
    top: 0;
    // transform: translateX(+50%) translateY(-50%) ;
}

.right-0{
    right: 0;
}
.hover-list:hover{
    background-color: rgb(0, 144, 0);
    color: white !important;
}
.hover-list{
    border-radius: 0;
}