<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand"> <img class="pointer" routerLink="/home" style="width: 350px" src="assets/img/logo.png" /></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="flex-column w-100">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item hover mx-1"><a class="nav-link text-success text-uppercase pointer" [routerLink]="['/home']">Sen đá Hà Nội </a></li>
                <li class="nav-item hover mx-1 dropdown">
                    <a class="nav-link text-success text-uppercase dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cửa hàng</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" *ngFor="let ctg of categories;" [routerLink]="['/list-product/',ctg.idType]">{{ ctg.typeName }}</a></div>
                </li>
                <li class="nav-item hover mx-1"><a class="nav-link pointer text-success text-uppercase" routerLink="/kien-thuc">Thông tin & kiến thức</a></li>
                <li class="nav-item hover mx-1"><a class="nav-link pointer text-success text-uppercase" routerLink="/contact">Liên hệ</a></li>
                <li class="nav-item mx-1"><button class="btn btn-success" *ngIf="!auth.isLogged()" [routerLink]="['/auth/login']">Đăng nhập</button></li>
                <li class="nav-item hover mx-1 dropdown" *ngIf="auth.isLogged()">
                    <a class="bi bi-person-fill nav-link text-success text-uppercase dropdown-toggle" href="#" style="font-size: 20px" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item pointer" *ngIf="roleSv?.isQuanLy || roleSv?.isNhanVien" [routerLink]="['/admin']">Quản lý trang web</a><a class="dropdown-item pointer" [routerLink]="['/profile']">Quản lý thông tin</a><a class="dropdown-item pointer" data-toggle="modal" data-target="#doiMK">Đổi mật khẩu</a><a class="dropdown-item pointer" [routerLink]="['/auth/logout']">Đăng xuất</a></div>
                </li>
            </ul>
            <div class="d-flex">
                <form class="my-2 my-lg-0 w-75 d-flex border ml-lg-2 position-relative">
                    <input class="input form-control" #ipSearch list="pro" type="search" (keyup)="search(ipSearch.value)" placeholder="Search" aria-label="Search" /><i class="bi bi-search h5 my-auto mx-2" *ngIf="!loading"></i>
                    <div class="spinner-border spinner-border-sm mx-2 my-auto" *ngIf="loading"></div>
                    <div class="list-group position-absolute w-100" style="z-index: 999; margin-top: 38px" *ngIf="listSearch.length &gt; 0 ">
                        <div class="pointer list-group-item hover-list" *ngFor=" let pro of listSearch" (click)="clearsearch(ipSearch)" [routerLink]="['/info-product',pro.type.idType,pro.idProduct]">
                            <div class="row">
                                <img class="aspect-ratio-1-1" style="width: 50px; object-fit: cover" [src]="pro.productSizeList[0]?.imagePath" alt="" />
                                <div class="ml-3">
                                    <div><b>{{pro.productName}}</b></div>
                                    <span class="text-muted">Giá từ: {{ getFrom(pro.productSizeList) | number }}VND - {{ getTo(pro.productSizeList) }}VND</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="position-relative"><span class="position-absolute rounded bg-danger px-1 text-white top-0 right-0" *ngIf="auth.isLogged()" style="font-size: 10px">{{count.countCart}}</span><i class="bi bi-cart3 h2 mr-auto px-3 pointer border-right my-0" [routerLink]="['/cart']"></i></div>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" id="doiMK" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <form [formGroup]="formGroup" (submit)="doiMK()">
                    <span class="text-danger" *ngIf="errMkcu">Mật khẩu cũ không đúng</span>
                    <div class="mt-2"><label for="passOld">Mật khẩu cũ</label><input class="form-control py-3" type="password" formControlName="oldPass" /><span class="text-danger" *ngIf=" formGroup?.controls?.oldPass?.errors?.required &amp;&amp; submited  ">Không để trống mật khẩu cũ</span></div>
                    <div class="mt-2"><label for="passOld">Mật khẩu mới</label><input class="form-control py-3" type="password" formControlName="password" /><span class="text-danger" *ngIf=" formGroup?.controls?.password?.errors?.required &amp;&amp; submited  ">Không để trống mật khẩu mới</span></div>
                    <div class="mt-3 d-flex"><button class="mx-auto btn btn-primary ml-auto" data-dismiss="modal">Đóng</button><button class="mx-auto btn btn-danger mx-auto" type="submit">Đổi mật khảu</button></div>
                </form>
            </div>
            <div class="modal-footer d-flex"></div>
        </div>
    </div>
</div>
