<div class="d-flex mt-4">
    <h1 class="mr-auto">{{title}}</h1>
    <ng-content></ng-content>
</div>
<sb-breadcrumbs *ngIf="!hideBreadcrumbs"><ng-content select="[loading]"></ng-content></sb-breadcrumbs>
