sb-layout-dashboard
    sb-dashboard-head(title='Chi tiết sản phẩm', [hideBreadcrumbs]='false')
        div.d-flex
            //- button.btn.btn-primary.my-auto((click) = "resetForm()" ,data-toggle="modal",data-target="#addUser") 
        div.ml-auto.p-2.bg-light.spinner-border(loading, *ngIf = "loading")
    div 
        div.row 
            div.col-4 
                div#carouselExampleIndicators.carousel.slide.shadow(data-interval="false")
                    //- ol.carousel-indicators
                    //-     span.mx-1.opacity-50( *ngFor = "let prds of product?.productSizeList; let i = index" ,data-target="#carouselExampleIndicators",[id] ="'id'+prds.idImages" ,[attr.data-slide-to]="i" , [ngClass]="i === 0 ? 'active' : ''" ) 
                    //-         //- span {{ prds  | json}}
                    //-         img.hover-img.aspect-ratio-1-1.object-fit.pointer( [src]= "prds?.imagePath" , width = "80px")
                    div.carousel-inner
                        div.carousel-item(*ngFor = "let prds of product?.productSizeList; let i = index", [ngClass]="i === 0 ? 'active' : ''")
                            img([src]="prds?.imagePath" ,class=" aspect-ratio-1-1 w-100  object-fit", alt="...")
                    a.carousel-control-prev( href="#carouselExampleIndicators", role="button", data-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.sr-only previous
                    a.carousel-control-next( href="#carouselExampleIndicators" role="button" data-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.sr-only next
            div.col-8.border-top
                div.mt-3.h2.text-uppercase.text-success {{ product?.productName }}
                div.mb-2
                    b Thể loại: 
                    | {{ product?.type?.typeName }}
                div.mb-2
                    b Ánh sáng phù: 
                    | {{ product?.lightAspect?.lightAspectName}}
                div.mb-2
                    b Môi trường sống: 
                    span( *ngFor=" let hbt of product?.habitatsList ; let i = index " )  {{ hbt.habitatsName }}{{ i ===  product?.habitatsList.length - 1 ? '.' : ',' }}
                    
                div.mb-2
                    //- b Mô tả: 
                    div( [innerHTML]=" product?.moTa", [class]=" !seeMore ?  'mota-defualt' : null" )
                    //- div.seeMore
                    div.d-flex.flex-column( *ngIf="!seeMore" )
                        p ...
                        div
                            button.btn.btn-outline-success((click)="seeMore = true") XEM THÊM
                    div( *ngIf="seeMore" )
                        button.btn.btn-outline-success((click)="seeMore = false") THU LẠI
        div.mt-5
            div 
                h3 Bảng chi tiết
                table.table.table-bordered
                    thead 
                        tr 
                            th Màu
                            th Kích thước 
                            th Số lượng
                            th Giá
                            th QR code
                            //- th
                    tbody( *ngFor = "let prds of productSize; let i = index" )
                        tr
                            td.align-middle( style = "width:200px;", [attr.rowspan]="prds?.productSize?.length+2" )
                                div
                                    div.d-flex
                                        span() {{ prds.color.colorName}}
                                    div
                                        //- span.col-12.aspect-ratio-1.d-flex.m-0([ngClass]= "!showImage[i]  && submited ? 'outline-danger':''" ,)
                                        //-         span.aspect-ratio-1.col-12.p-0.position-relative( *ngIf = "showImage[i]")
                                        //-             span.w-100.hover-delete-img
                                        //-                 img.border-2.col-12.py-3.aspect-ratio-1( #img,[src]="showImage[i]",style="object-fit: cover;")
                                                        
                        tr( *ngFor = "let prds2 of prds?.productSize; let j = index " )
                            td.align-middle 
                                span {{ prds2.size.sizeName }}
                            td.align-middle 
                                span.px-2.p-0.m-0 {{ prds2?.quantity | number}}
                            td.align-middle 
                                span.px-2.p-0.m-0 {{ prds2?.price | number}}VND
                            td(style="width:100px")
                                qrcode(
                                    [qrdata]="prds2.qrCode"
                                    ,[width]="100",
                                    [errorCorrectionLevel]="'M'",
                                    (qrCodeURL)="onChangeURL($event)" 
                                    )
                                //- span {{ url }}