@import 'styles/variables.scss';
.hover-delete-img:hover > span{
    cursor: pointer;
    opacity: 0.75;
    transition: 100ms;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.opacity-0{
    opacity: 0;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.aspect-ratio-1{
    aspect-ratio: 1 !important;
}
.h-300px{
    height: 300px;
}
