sb-layout-dashboard
    sb-dashboard-head(title='Dashboard', [hideBreadcrumbs]='false')
    sb-dashboard-cards( [thongKe]="thongke?.data" )
    div.row.px-0.mb-3.bg-light
        div.col-12
            p.pt-2 Lọc doanh thu và số lượng bán được theo ngày
        div.col-5
            label(for="") Thời gian bắt đầu  
            input.col-4.pr3.form-control(type="date", [(ngModel)]="startDate")
            //- span {{ startDate }}
        div.col-5
            label(for="") Thời gian kết thúc 
            input.col-4.pr3.form-control(type="date", [(ngModel)]="endDate")
        div.col-2.d-flex 
            button.mt-auto.w-100.btn.btn-primary((click)="getThongKe()") Lọc
    .row.px-0
        .col-xl-3.bg-light.row.pr-xl-3.pr-0
            .col-xl-12.col-6.mb-3.bg-success.text-white
                .card-body.h-100px
                    .text-center.h4 Số lượng bán 
                    .h-100.w-100.d-flex.h4
                        span.m-auto  {{thongke?.data?.soLuongBan ? thongke?.data?.soLuongBan : 0}} 
                
            .col-xl-12.col-6.mb-3.bg-danger.text-white
                .card-body.h-100px
                    .text-center.h4 Doanh thu
                    .h-100.w-100.d-flex.h4
                        span.m-auto   {{thongke?.data?.doanhThu | number}}VND
                
        .col-xl-9.pr-xl-3
            sb-card
                .card-header
                    fa-icon.mr-1([icon]='["fas", "chart-bar"]')
                    | Thống kê doanh thu của năm nay
                .card-body
                    sb-charts-bar(  )