<sb-layout-auth
    ><div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-12 col-sm-8">
                <div class="card shadow-lg border-0 rounded-lg my-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-3">Đăng nhập</h3></div>
                    <div class="card-body">
                        <form [formGroup]="formGroup" (ngSubmit)="login()">
                            <div class="text-danger" *ngIf="saiMk">Tài khoản hoặc mật khẩu không chính xác</div>
                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Tài khoản</label><input class="form-control py-4" id="inputEmailAddress" formControlName="username" type="text" placeholder="Tài khoản" /><span class="text-danger" *ngIf="errorsForm?.username?.errors?.required &amp;&amp; submited">Không để trống tài khoản</span><span class="text-danger" *ngIf="errorsForm?.username?.errors?.pattern &amp;&amp; submited">Tài khoản không chứa kí tự đặc biệt</span><span class="text-danger" *ngIf="errorsForm?.username?.errors?.minlength &amp;&amp; submited">Tài khoản chứa tối thiểu 5 kí tự</span><span class="text-danger" *ngIf="errorsForm?.username?.errors?.maxlength &amp;&amp; submited">Tài khoản chứa tối đa 15 kí tự</span></div>
                            <div class="form-group"><label class="small mb-1" for="inputPassword">Mật khẩu</label><input class="form-control py-4" id="inputPassword" type="password" formControlName="password" placeholder="Mật khẩu" /><span class="text-danger" *ngIf="errorsForm?.password?.errors?.required &amp;&amp; submited">Không để trống mật khẩu</span><span class="text-danger" *ngIf="errorsForm?.password?.errors?.minlength &amp;&amp; submited">Mật khẩu chứa tối thiểu 5 kí tự</span><span class="text-danger" *ngIf="errorsForm?.password?.errors?.maxlength &amp;&amp; submited">Mật khẩu chứa tối đa 15 kí tự</span></div>
                            <div class="form-group"></div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" routerLink="/auth/forgot-password">Quên mật khẩu?</a><button class="btn btn-primary">Đăng nhập</button></div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/register">Chưa có tài khoản? Đăng kí!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-auth
>
