layout
    div.container-xl.mt-5
        div.text-center 
            h2 Giỏ hàng
        div.row.bg-light.p-3.border-radius
            div.col-12.col-lg-7
                span.h3.pointer( [routerLink] = "'/home'" )
                    span.bi.bi-chevron-left
                    | Tiếp tục mua sắm
                div.d-flex.w-100.border-top.mt-3
                    div.mr-auto 
                        div.my-1.text-muted Giỏ hàng
                        div.my-1.text-muted Bạn có {{orderDetails?.length}} sản phẩm trong giỏ
                    div.my-auto 
                        | Sắp xếp: 
                        select(name="",#slSort, (change)="sort(slSort.value)") 
                            option(value="") Không
                            option(value="TANG") Giá tăng dần 
                            option(value="GIAM") Giá giảm dần  
                div 
                    div 
                        span.text-danger( *ngIf="error.status" ) {{error.msg}} 
                    div.d-flex.w-100.px-3.border-radius.my-2( *ngIf="orderDetails.length > 0")
                        input.my-auto.p-2.mx-2( id= "cball", #checkBoxAll1,[attr.checked] =" order?.orderDetailsList?.length === orderDetails?.length ? 'checked' : null ", type="checkbox", (change) = "checkBoxAll(checkBoxAll1)")
                        label.my-auto(for="cball") Chọn tất cả
                    div.d-flex.w-100.p-3.border-radius.border.my-2(*ngFor="let odt of orderDetails", [ngClass]="(odt.productSize.status == 2 || odt.productSize.quantity < 1) ? 'border border-danger' : ''")
                        input.mx-2.p-2( type="checkbox" , *ngIf = "odt.productSize.status == 2 || odt.productSize.quantity < 1", disabled )
                        input.mx-2.p-2( #checkBox type="checkbox",name="odt" , *ngIf = "odt.productSize.status === 1 && odt.productSize.quantity > 0 " ,(change) = "setOrder(undefined,checkBox,odt)" )
                        img.object-fit.border-radius.pointer.aspect-ratio-1-1(width="100px",[src]="getImage(odt.productSize?.imagePath)", [routerLink]="['/info-product',odt?.productSize?.product?.category?.idCategory,odt?.productSize?.product?.idProduct]" , alt="")
                        span.mx-2.mr-auto
                            div.h4.text-1-line( [routerLink]="['/info-product',odt?.productSize?.product?.category?.idCategory,odt?.productSize?.product?.idProduct]") {{ odt.productSize?.product?.productName }}
                            div
                                b Giá {{ odt.productSize.price | number }}VND
                            div.text-muted Kích thước: {{ odt.productSize.size.sizeName }}
                            div.text-muted Màu sắc: {{ odt.productSize.color.colorName }}
                            span.text-danger( *ngIf="odt.productSize.status == 2 || odt.productSize.quantity < 1" ) Sản phẩm này không còn tồn tại hoặc đã hết
                        span.mx-2.my-auto
                            //- span.text-danger( *ngIf="odt.productSize.status == 2" ) 
                            div.d-flex.my-auto( *ngIf="odt.productSize.status == 1 && odt.productSize.quantity > 0" )
                                div.bi.bi-dash.border.align-middle.h3.mb-0((click) = "getDash(input,odt)")
                                input.border(#input,class="quantity h5 mb-0 text-center", (change) = "getQuantity(input,odt)" ,style = "width: 40px;outline: none;" , min="0",[value]="odt.quantity" ,type="number")
                                div.bi.bi-plus.border.align-middle.h3.mb-0((click) = "getPlus(input,odt.productSize.quantity,odt)")
                        span.my-auto
                            i.p-1.pointer.hover-danger.bi.bi-trash3.text-muted.h4(data-toggle="modal",data-target="#deleteProduct", (click) = "alertDelete(odt)" )
                
            div.col-12.col-lg-5
                div.bg-success.border-radius.p-4.mt-3
                    div.h3.text-white.mt-2 Chi tiết giỏ hàng
                    div.mt-5.mb-2 
                        div.d-flex.my-3
                            span.text-white.h4.mr-auto Tạm tính 
                            span.text-white.h4 {{getTotalMoney | number}} VND 
                        //- div.d-flex.my-3
                        //-     span.text-white.h4.mr-auto Phí vận chuyển
                        //-     span.text-white.h4 0 VND 
                        //- div.d-flex.my-3
                        //-     span.text-white.h4.mr-auto Khuyến mãi
                        //-     span.text-white.h4 0 VND 
                        div.d-flex.my-3.h4
                            span.text-white.h2.mr-auto Tổng
                            span.text-white.h4 {{ getTotalMoney | number }} VND 
                    button.w-100.btn.bg-white.py-3.text-uppercase( data-toggle="modal",data-target="#xacNhan",  style = "font-size : 40px") Đặt hàng
                    div.modal.fade(id="xacNhan" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
                        div.modal-dialog.modal-dialog-centered
                            div.modal-content
                                div.modal-header.py-1
                                    h5.modal-title( id="exampleModalLabel") Kiểm tra giỏ
                                    span.pointer(class="close", data-dismiss="modal", aria-label="Close" ,#closeModal )
                                        span(aria-hidden="true") &times;
                                div.modal-body
                                    .text-center    
                                        | Bạn hãy kiểm tra kĩ đơn hàng 
                                    div.d-flex.my-2
                                        button.btn.btn-danger.mx-auto(data-dismiss="modal",) Đóng
                                        button.btn.btn-primary.mx-auto(data-dismiss="modal", (click) = "datHang()" ) Tôi đã kiểm tra


            
                //- div.text-white.my-2.mt-5 Loại thẻ
                //- div 
                //-     img.object-fit.border-radius(width= "50px",src="https://inkythuatso.com/uploads/images/2021/12/vnpay-logo-inkythuatso-01-13-16-26-42.jpg", alt="")

div.modal.fade(id="deleteProduct" tabindex="-1",aria-labelledby="exampleModalLabel",aria-hidden="true")
    div.modal-dialog.modal-dialog-centered
        div.modal-content
            div.modal-header.py-1
                h5.modal-title( id="exampleModalLabel") Xóa sản phẩm khỏi giỏ
                span.pointer(class="close", data-dismiss="modal", aria-label="Close" ,#closeModal )
                    span(aria-hidden="true") &times;
            div.modal-body
                .text-center    
                    | Xác nhận xóa sản phẩm 
                    b {{ deleteOrderDetail?.product?.productName }} 
                    | khỏi giỏ hàng?
                div.d-flex.my-2
                    button.btn.btn-primary.mx-auto(data-dismiss="modal",) Đóng
                    button.btn.btn-danger.mx-auto(data-dismiss="modal",(click) = "delete()") Xác nhận


            

        