<layout
    ><div class="container-xl mt-5">
        <div class="text-center"><h2>Giỏ hàng</h2></div>
        <div class="row bg-light p-3 border-radius">
            <div class="col-12 col-lg-7">
                <span class="h3 pointer" [routerLink]="'/home'"><span class="bi bi-chevron-left"></span>Tiếp tục mua sắm</span>
                <div class="d-flex w-100 border-top mt-3">
                    <div class="mr-auto">
                        <div class="my-1 text-muted">Giỏ hàng</div>
                        <div class="my-1 text-muted">Bạn có {{orderDetails?.length}} sản phẩm trong giỏ</div>
                    </div>
                    <div class="my-auto">
                        Sắp xếp:
                        <select name="" #slSort (change)="sort(slSort.value)">
                            <option value="">Không</option>
                            <option value="TANG">Giá tăng dần</option>
                            <option value="GIAM">Giá giảm dần</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div><span class="text-danger" *ngIf="error.status">{{error.msg}} </span></div>
                    <div class="d-flex w-100 px-3 border-radius my-2" *ngIf="orderDetails.length &gt; 0"><input class="my-auto p-2 mx-2" id="cball" #checkBoxAll1 [attr.checked]=" order?.orderDetailsList?.length === orderDetails?.length ? 'checked' : null " type="checkbox" (change)="checkBoxAll(checkBoxAll1)" /><label class="my-auto" for="cball">Chọn tất cả</label></div>
                    <div class="d-flex w-100 p-3 border-radius border my-2" *ngFor="let odt of orderDetails" [ngClass]="(odt.productSize.status == 2 || odt.productSize.quantity &lt; 1) ? 'border border-danger' : ''">
                        <input class="mx-2 p-2" type="checkbox" *ngIf="odt.productSize.status == 2 || odt.productSize.quantity &lt; 1" disabled /><input class="mx-2 p-2" #checkBox type="checkbox" name="odt" *ngIf="odt.productSize.status === 1 &amp;&amp; odt.productSize.quantity &gt; 0 " (change)="setOrder(undefined,checkBox,odt)" /><img class="object-fit border-radius pointer aspect-ratio-1-1" width="100px" [src]="getImage(odt.productSize?.imagePath)" [routerLink]="['/info-product',odt?.productSize?.product?.category?.idCategory,odt?.productSize?.product?.idProduct]" alt="" /><span class="mx-2 mr-auto"
                            ><div class="h4 text-1-line" [routerLink]="['/info-product',odt?.productSize?.product?.category?.idCategory,odt?.productSize?.product?.idProduct]">{{ odt.productSize?.product?.productName }}</div>
                            <div><b>Giá {{ odt.productSize.price | number }}VND</b></div>
                            <div class="text-muted">Kích thước: {{ odt.productSize.size.sizeName }}</div>
                            <div class="text-muted">Màu sắc: {{ odt.productSize.color.colorName }}</div>
                            <span class="text-danger" *ngIf="odt.productSize.status == 2 || odt.productSize.quantity &lt; 1">Sản phẩm này không còn tồn tại hoặc đã hết</span></span
                        ><span class="mx-2 my-auto"
                            ><div class="d-flex my-auto" *ngIf="odt.productSize.status == 1 &amp;&amp; odt.productSize.quantity &gt; 0">
                                <div class="bi bi-dash border align-middle h3 mb-0" (click)="getDash(input,odt)"></div>
                                <input class="border quantity h5 mb-0 text-center" #input (change)="getQuantity(input,odt)" style="width: 40px; outline: none" min="0" [value]="odt.quantity" type="number" />
                                <div class="bi bi-plus border align-middle h3 mb-0" (click)="getPlus(input,odt.productSize.quantity,odt)"></div></div></span
                        ><span class="my-auto"><i class="p-1 pointer hover-danger bi bi-trash3 text-muted h4" data-toggle="modal" data-target="#deleteProduct" (click)="alertDelete(odt)"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="bg-success border-radius p-4 mt-3">
                    <div class="h3 text-white mt-2">Chi tiết giỏ hàng</div>
                    <div class="mt-5 mb-2">
                        <div class="d-flex my-3"><span class="text-white h4 mr-auto">Tạm tính </span><span class="text-white h4">{{getTotalMoney | number}} VND </span></div>
                        <div class="d-flex my-3 h4"><span class="text-white h2 mr-auto">Tổng</span><span class="text-white h4">{{ getTotalMoney | number }} VND </span></div>
                    </div>
                    <button class="w-100 btn bg-white py-3 text-uppercase" data-toggle="modal" data-target="#xacNhan" style="font-size: 40px">Đặt hàng</button>
                    <div class="modal fade" id="xacNhan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header py-1">
                                    <h5 class="modal-title" id="exampleModalLabel">Kiểm tra giỏ</h5>
                                    <span class="pointer close" data-dismiss="modal" aria-label="Close" #closeModal><span aria-hidden="true">&times;</span></span>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center">Bạn hãy kiểm tra kĩ đơn hàng</div>
                                    <div class="d-flex my-2"><button class="btn btn-danger mx-auto" data-dismiss="modal">Đóng</button><button class="btn btn-primary mx-auto" data-dismiss="modal" (click)="datHang()">Tôi đã kiểm tra</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></layout
>
<div class="modal fade" id="deleteProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm khỏi giỏ</h5>
                <span class="pointer close" data-dismiss="modal" aria-label="Close" #closeModal><span aria-hidden="true">&times;</span></span>
            </div>
            <div class="modal-body">
                <div class="text-center">Xác nhận xóa sản phẩm <b>{{ deleteOrderDetail?.product?.productName }} </b>khỏi giỏ hàng?</div>
                <div class="d-flex my-2"><button class="btn btn-primary mx-auto" data-dismiss="modal">Đóng</button><button class="btn btn-danger mx-auto" data-dismiss="modal" (click)="delete()">Xác nhận</button></div>
            </div>
        </div>
    </div>
</div>
