<div class="container-xl mt-5 py-5 border-top">
    <div class="row">
        <div class="col-4 p-4 d-flex flex-column"><img class="w-100" src="assets/img/logo.png" /><span class="mx-auto h4 mt-2 text-info">SEN ĐÁ LIÊN HOA</span><span>Tân Thịnh, Thành phố Thái Nguyên, Thái Nguyên 24118, Việt Nam</span><span>Liên hệ: 0951426328-02158325522</span><span>Email: lienhoa@gmail.com</span></div>
        <div class="col-4 p-4 d-flex flex-column"><span class="h3">Hỗ trợ khách hàng </span><span class="pointer my-1">Đặt hàng và thanh toán</span><span class="pointer my-1">Chính sách bảo mật </span><span class="pointer my-1">Bảo hành và đổi trả </span><span class="pointer my-1">Đặt hàng và thanh toán</span><span class="pointer my-1">Thỏa thuận người dùng</span></div>
        <div class="col-4 p-4"><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAnhsinhvien.02&amp;tabs=timeline&amp;width=340&amp;height=500&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" height="500" style="border: none; overflow: hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div>
    </div>
</div>
